header,
main,
footer {
    padding-left: 6%;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0 !important;
    }

    .sidenav {
        width: 50% !important;
        align-items: flex-start !important;
    }

    .sidenav li a i {
        font-size: 5rem !important;
        padding-right: 50px !important;
    }

    .sidenav li button i {
        font-size: 5rem !important;
        margin: 0 5px 0 0;
    }

    .sidenav li a span {
        font-size: 16pt !important;
    }

    .sidenav li button span {
        font-size: 16pt !important;
        font-weight: 500 !important;
    }

    .sidenav li {
        width: 100% !important;
        padding: 10px 0px 10px 0px !important;
    }

    .sidenav li a {
        padding-left: 10px !important;
    }

    .sidenav li button {
        padding-left: 10px !important;
    }
    table {
        width: 100%;
    }

    table tr {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 11px;
        padding: 1em;
        margin-bottom: 1em;
    }

    table thead {
        display: none;
    }

    /*Colocamos columnas*/
    table td[data-target] {
        display: flex;
    }

    table td[data-target]::before {
        content: attr(data-target);
        width: 150px;
    }

    /*Tamaño*/
    td,
    th {
        width: 100%;
        word-wrap: break-word;
    }
}

.sidenav {
    width: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

.sidenav li {
    padding: 2px 0px 2px 0px;
}

.sidenav li a i {
    font-size: 3.5rem;
}

.sidenav li button i {
    font-size: 3rem;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/*-------------------Navbar---------------------*/

nav {
    box-shadow: none !important;
}

nav div ul li a i {
    font-size: 48px !important;
}

.logout {
    border: transparent;
}

.logout:hover {
    cursor: pointer;
}

/*-----------------Footer--------------*/

.opciones-sidenav {
    height: 90%;
}

.cerrar-sidenav {
    height: 10%;
}

/*-------------Diseños de modal---------------*/

.centrador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.carta-valoracion {
    width: 100%;
    height: 370px;
}

.contorno {
    border: #8dc5ff 3px solid;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.contorno-modal {
    border: #8dc5ff 3px solid;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    padding: 20px;
}

.file-path {
    width: 0px !important;
}

.sin-margen {
    margin: 0px !important;
}

/*-------------Botón flotante para valorar repartidor----------------------- */

.fixed-action-btn {
    bottom: 25%;
}

/*------------------Valoraciones-------------------*/

/*Valoraciones en estrellas*/
.estrellas_contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-origin: 1px solid black;
    height: auto;
    direction: rtl;
    unicode-bidi: bidi-override;
    justify-content: center;
}

label:hover,
label:hover ~ label > .estrella {
    color: orange;
}

input[type="radio"]:checked ~ label > .estrella {
    color: orange;
}


.estrellas_contenedor_producto {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-origin: 1px solid black;
    height: auto;
    direction: rtl;
    unicode-bidi: bidi-override;
    justify-content: center;
}

label:hover,
label:hover ~ label > .estrellaProducto {
    color: orange;
}

input[type="radio"]:checked ~ label > .estrellaProducto {
    color: orange;
}

