/* Clases generales del diseño*/


/*Clases para quitar border y padding*/


main {
  flex: 1 0 auto;
  height: 75%;
  margin-top: 80px;
  margin-left: 100px;
  padding-bottom: 125px;
}

body{
  display: flex;
  justify-content: center;
  width: 100% !important;
}

.body_index {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  height: 100%;
  width: 100% !important;
  position: fixed !important;
  z-index: 1;
}

/*Contenedores*/
.contenedor-general {
  height: 75%;
  width: 100% !important;
  padding: 0px !important;
  margin: 0px !important;
  display: flex;
}

.contenedor-general_perfil {
  height: 75%;
  width: 100% !important;
  padding: 0px !important;
  margin: 0px !important;
  display: flex;
}

/*Contenedores*/
.contenedor-general {
  height: 75%;
  width: 100% !important;
  padding: 0px !important;
  margin: 0px !important;
  display: flex;
}

.contenedor-datos {
  padding: 0px !important;
  display: flex;
  flex-direction: column;
  width: 100% !important;
  position: absolute;
}

.contenedor-datos_perfil {
  padding: 0px !important;
  display: flex;
  flex-direction: column;
  width: 100% !important;
  position: relative;
}

/*----------------------------------------------*/
/*-----------------Sidebar-------------------*/
/*----------------------------------------------*/

#slide-out li i {
  color: white;
  font-size: 50px;
  margin: 0px !important;
  display: flex;
  justify-content: center;
}

#slide-out li {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin: 0px !important;
  width: 100% !important;
  display: flex;
  justify-content: center;
}

.sidenav {
  /* width: 100px !important;
  background-color: #659fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative !important;
  height: 100% !important;
  margin-right: 0px !important;
  box-shadow: none !important;*/
  background-color: #659fff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  min-height: 100vh;
  max-height: 100vh;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

/*----------------------------------------------*/
/*-----------------Encabezado-------------------*/
/*----------------------------------------------*/

.encabezado {
  /*height: 80px;
  width: 100% !important;
  margin: 0px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;*/
  height: 80px;
  width: 100% !important;
  margin: 0px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 3%;
  position: fixed;
  z-index: 2;
}

.encabezado img {
  height: 70%;
}

.boton_iniciar_sesion {
  background-color: white;
  border: 1px solid black;
  border-radius: 15px !important;
  color: black;
  width: 150px;
}

#boton_ingresar {
  z-index: 0;
}

.encabezado a i {
  color: #3f79ff;
}

/*----------------------------------------------*/
/*-------------------Footer---------------------*/
/*----------------------------------------------*/

.page-footer {
  /* background-color: #3f79ff !important;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  height: 25%;
  width: 100% !important;
  margin: 0px !important;
  position: relative;*/
  background-color: #3f79ff;
  position: fixed;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  height: 125px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  /* z-index: 24;*/
}

.page-footer .row {
  padding: 0px;
  margin: 0px;
  height: 100%;
}



.redes_footer ul {
  display: flex;
  justify-content: flex-start;
  height: 20%;
  margin: 0px;
  padding-left: 38%;
  padding-right: 38%;
  position: relative;
  margin-left: -5%;
}

.footer_otros {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  /**/
  padding-left: 146px;
}

.footer_otros img {
  width: 300px;
}

.mapa-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 20%;
  margin-left: 20% !important;
}

.mapa-footer ul {
  height: 100%;
  margin: 0px;
}

.logo_copy_footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 20%;
}

.redes_footer {
  position: fixed;
  z-index: 1;
}

.redes_footer ul li a i {
  color: white;
  font-size: 35pt;
}

/*Titulo para todos*/
.titulo_admin {
  padding-top: 50px;
}

/*Titulo para index*/
.titulo_index {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 0;
}

.titulo_categoria {
  padding-top: 130px;
}

/*----------------------------------------------*/
/*-------------------Main admin_category---------------------*/
/*----------------------------------------------*/

.administrar_cate_o {
  margin-left: 100px;
  margin-right: 100px;
}

.boton_agrega_r {
  background-color: #699af6;
  color: white;
  border-radius: 15px;
}

.boton_cancelar_cate {
  background-color: #699af6;
  color: white;
  border-radius: 15px;
}

.boton_agrega_imagen {
  background-color: #699af6;
  color: white;
  border-radius: 15px;
}

.boton_a_gregar {
  background-color: #699af6;
  color: white;
  border-radius: 15px;
}

/*Boton general*/
.boton_color {
  background-color: #699af6;
  color: white;
  z-index: 4;
}

/**/
.boton_marca_s {
  background-color: #699af6;
  color: white;
  border-radius: 15px;
}

.boton_eliminar_tabl {
  background-color: white;
  color: black;
}

.contorno {
  border: #8dc5ff 3px solid;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.boton_editar_tabl {
  background-color: white;
  color: black;
}

.nombre_categoria {
  padding-left: 80px;
}


.imagen_categ {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nombre_catee {
  display: flex;
  flex-direction: column;
  margin-left: 400px;
}

.imagen_edi_categoria {
  width: 80%;
  height: auto;
}

/*----------------------------------------------*/
/*-------------------Main add_category---------------------*/
/*----------------------------------------------*/

.contenedor_agre_categ {
  margin-left: 100px;
  margin-right: 100px;
}

.imagen_agre_cate {
  width: 100%;
  height: auto;
}

.imagen_agregar_catego {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.botonagregar_imacate {
  background-color: #699af6;
  color: white;
}

/*----------------------------------------------*/
/*-------------------Main admin_seller distribuitor---------------------*/
/*----------------------------------------------*/

.contenedor_dess {
  padding-left: 20px;
  padding-right: 20px;
  width: 1400px;
  height: 88%;
}

.imagen_standar {
  width: 40px;
}

.contenedor_dess .administrar_cate_o table {
  table-layout: fixed;
  width: 400px;
}

td,
th {
  width: 180px;
  word-wrap: break-word;
}

/*----------------------------------------------*/
/*-----------Estadística - admin----------------*/
/*----------------------------------------------*/

.nombre_estadistica_admin {
  width: 41.65%;
  text-align: center;
}

.promedio_estadistica_admin {
  width: 33.32%;
  text-align: center;
}

.venta_estadistica_admin {
  width: 25%;
  text-align: center;
}

/**/
.cliente_estadistica_admin {
  width: 33.32%;
  text-align: center;
}

.correo_estadistica_admin {
  width: 25%;
  text-align: center;
}

.factura_estadistica_admin {
  width: 18.66%;
  text-align: center;
}

.promedio_cliente_estadistica_admin {
  width: 25%;
  text-align: center;
}

.contenedor_cliente_estadistica_vendedor .row {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #8dc5ff;
  border-radius: 15px;
  border: 1px solid black;
  margin-bottom: 5px;
  height: auto !important;
}

.contenedor_cliente_estadistica_vendedor {
  width: 100%;
  padding-left: 20px;
  padding-right: 10px;
}

.main_estadistica_admin .row .col .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main_estadistica_admin h5 {
  margin-bottom: 3%;
}

.main_estadistica_admin {
  padding: 0px !important;
  margin: 0px !important;
  overflow-y: scroll;
}

.ventas_estadistica_admin {
  background-color: #8dc5ff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 20px 0 20px !important;
}

.grafica_pastel_admin {
  width: 100%;
}

.main_estadistica_vendedor {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  height: 80%;
  overflow-y: scroll;
}

.main_estadistica_vendedor h5 {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  margin: 0px !important;
}

.main_estadistica_vendedor .row {
  width: 100%;
  height: 100%;
}

.main_estadistica_vendedor .row .col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
}

.ventas_estadistica_vendedor {
  background-color: #8dc5ff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 50%;
}

.titulos_valoracion_estadistica_vendedor {
  width: 100%;
  display: flex;
}

.nombre_estadistica_vendedor {
  width: 33.5%;
  text-align: center;
}

.cantidad_estadistica_vendedor {
  width: 25%;
  text-align: center;
}

.precio_estadistica_vendedor {
  width: 16%;
  text-align: center;
}

.valoracion_estadistica_vendedor {
  width: 25%;
  text-align: center;
}

.contenedor_producto_estadistica_vendedor {
  width: 100%;
  height: 100%;
}

.contenedor_producto_estadistica_vendedor .row {
  width: 100%;
  margin: 0px !important;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  align-items: center;
  background-color: #8dc5ff;
  margin-top: 5px !important;
  height: 100%;
}

.valoracion {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*Valoraciones en estrellas*/
.estrellas_contenedor {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-origin: 1px solid black;
  height: auto;
  direction: rtl;
  unicode-bidi: bidi-override;
  justify-content: center;
}

label:hover,
label:hover~label>.estrella {
  color: rgb(255, 238, 0);
}

input[type="radio"]:checked~label>.estrella {
  color: rgb(255, 213, 0);
}

.grafica_pastel_vendedor {
  width: 100%;
}

.grafica_pastel_vendedor img {
  width: 50%;
}

/*----------------------------------------------*/
/*-----------Estadística - admin----------------*/
/*----------------------------------------------*/

.nombre_estadistica_admin {
  width: 41.65%;
  text-align: center;
}

.promedio_estadistica_admin {
  width: 33.32%;
  text-align: center;
}

.venta_estadistica_admin {
  width: 25%;
  text-align: center;
}

/**/
.cliente_estadistica_admin {
  width: 33.32%;
  text-align: center;
}

.correo_estadistica_admin {
  width: 25%;
  text-align: center;
}

.factura_estadistica_admin {
  width: 18.66%;
  text-align: center;
}

.promedio_cliente_estadistica_admin {
  width: 25%;
  text-align: center;
}

.contenedor_cliente_estadistica_admin .row {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #8dc5ff;
  border-radius: 15px;
  border: 1px solid black;
  margin-bottom: 5px;
  height: auto !important;
}

.contenedor_cliente_estadistica_admin {
  width: 100%;
  padding-left: 20px;
  padding-right: 10px;
}

.main_estadistica_admin .row .col .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main_estadistica_admin h5 {
  margin-bottom: 3%;
}

.main_estadistica_admin {
  padding: 0px !important;
  margin: 0px !important;
  overflow-y: scroll;
}

.ventas_estadistica_admin {
  background-color: #8dc5ff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 20px 0 20px !important;
}



/*----------------------------------------------*/
/*-------------Login - Administrar---------------*/
/*----------------------------------------------*/
#r-login {
  width: 330px;
  height: 300px;
  padding-left: 229%;
}

.n_l{
  margin-bottom: 5px !important;
}

.n_l p{
 text-align: left;
} 
#texto-card-login {
  text-align: center;
  padding-bottom: 10px;
}

#texto-card-login a{
  color: #3111F4;
}

#texto-card-login p {
  margin-top: 0px !important;
}

.card-login{
  background-color: #e3f2fd ;
  margin: 0px !important;
}

#texto-card-login-2 {
  line-height: 0px;
}

#titulo-login {
  font-size: 20px;
  justify-content: center;
  direction: flex;

}

.titulo-login{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.titulo-index{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

#card-login {
  width: 330px;
  height: 535px;
  background: #eef9ff;
  padding-top: 1px;
}

#card-recu {
  width: 330px;
  height: 460px;
  background: #e6e6e6;
  padding-top: 1px;
}

#card-recu2 {
  width: 330px;
  height: 310px;
  background: #e6e6e6;
  padding-top: 1px;
}

#boton_ingresar {
  width: 150px;
  height: 35px;

  background: #659fff;
  border-radius: 15px;
  z-index: 0;
}

.inicio-no-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  padding-bottom: 2px !important;
  padding-bottom: 195px !important;
}

.contenedor-datos-nologin {
  padding: 0px !important;
  display: flex;
  flex-direction: column;
  width: 100% !important;
}

/*----------------------------------------------*/
/*-------------------Registrar---------------------*/
/*----------------------------------------------*/
.contactenos {
  background-color: #eef9ff;
  border: 1px solid black;
  margin-top: 5px;
  border-radius: 15px;
  height: 100%;
  width: 100%;
}
.titulo_contactenos {
  font-size: 14pt;
}
.contenedor_borde {
  height: 100%;
}
.main_contactenos {
  padding-left: 10% !important;
  padding-right: 10% !important;
}
.descripcion_contactenos {
  padding-right: 5% !important;
  padding-left: 5% !important;
  height: 100%;
  display: flex;
  justify-content: center;
}
.descripcion_contactenos .row h5 {
  width: 100%;
  text-align: center;
}

.main_admin {
  overflow-y: scroll;
  height: 80%;
}

.main_admin h5 {
  text-align: center;
}
.contenedor_admin {
  width: 100%;
}

.boton_foto_admin {
  background-color: #659fff;
  color: white;
  border-radius: 15px;
}
.foto_admin {
  font-size: 150pt;
}

.contenedor_fotos_admin {
  width: 100%;
}

.dato_usuario_admin {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15%;
}

.foto_de_admin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*----------------------------------------------*/
/*-------------Carrito - clientes---------------*/
/*----------------------------------------------*/


.producto_carrito {
  border: 1px solid black;
  margin-top: 5px;
  border-radius: 15px;
  height: 200px;
  width: 100%;
}

.main_carrito .center-align {
  margin-left: 3%;
  margin-right: 3%;
}

.producto_carrito .row .col img {
  height: 150px;
  border-radius: 15px;
}

.contador_cantidad_carrito {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contador_cantidad_carrito input {
  width: 30% !important;
  border: 1px solid black !important;
  border-radius: 15px;
  background-color: #ececec !important;
  height: 35px !important;
  margin-right: 4px !important;
  margin-left: 4px !important;
  text-align: center;
}

.contador_cantidad_carrito input:focus {
  border: 1px solid black !important;
  box-shadow: none !important;
}

.titulo_producto_carrito {
  font-size: 14pt;
}

.descripcion_producto_carrito {
  padding-right: 5% !important;
  padding-left: 5% !important;
  height: 100%;
}

.descripcion_producto_carrito .row {
  margin-bottom: -150px !important;
}

.total_carrito {
  height: 180px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 3% !important;
}

main .center-align .row {
  height: 100%;
}

main .center-align {
  height: 90%;
}

.listado_productos {
  overflow-y: scroll !important;
  height: 99% !important;
  width: 80%;
  margin-bottom: 2%;
}

.contenedor_mostrar_total_carrito {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cp_total_carrito {
  background-color: #8dc5ff;
  height: 70% !important;
  border-radius: 15px;
  width: 90% !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 10%;
}

.cp_total_carrito div h6 {
  color: white;
  font-weight: 700;
  font-size: 14pt;
}

.cp_total_carrito div p {
  color: white;
  font-size: 12pt;
}

.siguiente_carrito {
  margin-top: 50px;
  width: 80% !important;
  height: 50px;
  background-color: #8dc5ff;
  color: white;
  border-radius: 15px;
  border: none !important;
  padding: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.siguiente_carrito:hover {
  background-color: #66affd;
}

.siguiente_carrito:focus {
  background-color: #66affd;
}

/*----------------------------------------------*/
/*-------------Confirmación compra--------------*/
/*----------------------------------------------*/

.contenedor_datos_confirmacion {
  background-color: #659fff;
  border-radius: 15px;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  padding-bottom: 5%;
}

.contenedor_confirmacion {
  width: 100%;
  height: 100%;
}

.direccion_confirmar input {
  position: relative !important;
  background-color: #f2f2f2 !important;
  color: black !important;
  width: 85% !important;
  padding-left: 5px !important;
}

.direccion_confirmar .caret {
  background-color: #8dc5ff !important;
  height: 100% !important;
  width: 15% !important;
  position: absolute;
}

.dato_confirmacion h6 {
  font-weight: 600;
  height: 20px;
}

.dato_confirmacion p {
  height: 20px;
  margin-top: 5%;
}

.dato_confirmacion {
  display: flex;
  align-items: center;
}

.metodo_pago_confirmar {
  width: 40%;
}

.datos_pago_confirmar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.datos_pago_confirmar .row {
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
}

.boton_comprar_confirmar {
  width: 15%;
  border-radius: 15px;
  background-color: #659fff;
}

.Total_pagar_confirmar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.Total_pagar_confirmar p {
  font-weight: 400;
  margin-left: 7px;
}

[type="radio"]:not(:checked)+span:before,
[type="radio"]:not(:checked)+span:before {
  border: 0.5px solid black;
  background-color: #d2e8ff;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
  background-color: #659fff;
  border: 0.5px solid black;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
  border: 0.5px solid #659fff;
}

.main_confirmar {
  height: 100% !important;
  display: flex;
  justify-content: space-between;
}

.encabezado_confirmar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 3%;
  margin-bottom: 1%;
  align-items: center;
}

.encabezado_confirmar h5 {
  width: 90%;
  text-align: center;
}

/*----------------------------------------------*/
/*--------------Perfil - Cliente----------------*/
/*----------------------------------------------*/

.main_perfil_cliente {
  /*overflow-y: scroll;*/
  padding-top: 85px;
}

.main_perfil_cliente h5 {
  text-align: center;
}

.contenedor_perfil_cliente {
  width: 100%;
  /**/
  padding-top: 85px;
}

.foto_cliente {
  font-size: 150pt;
}

.boton_cambiar_foto_cliente {
  background-color: #659fff;
  color: white;
  border-radius: 15px;
  position: relative;
}

.foto_direccion_cliente {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor_titulo_direccion {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 3%;
  margin-bottom: 0px;
}

.add_direccion_cliente {
  display: flex;
  color: white;
  background-color: #659fff;
  border-radius: 15px;
}

.direccion_cliente p {
  width: 85%;
  margin: 0px;
}

.direccion_cliente div {
  width: 15%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.editar_perfil_cliente {
  color: #00ab10;
  font-size: 25pt;
}

.eliminar_perfil_cliente {
  color: #ff3f42;
  font-size: 25pt;
}

.contenedor_boton_modificar_datos_cliente {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.contenedor_boton_modificar_datos_cliente a {
  border-radius: 15px;
}

.datos_usuario_perfil_cliente {
  display: flex;
  flex-direction: column;
}

/*Datos del cliente*/

.datos_perfil_cliente {
  padding-left: 5%;
  padding-right: 5%;
}

.datos_usuario_perfil_cliente h6 {
  text-align: center;
}

.dato_usuario_cliente {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15%;
}

.dato_usuario_cliente p {
  padding-left: 7px;
}

/*Listado de direcciones del cliente en perfil*/

.direccion_cliente {
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
  padding-top: 0%;
  display: flex;
  border: 1px solid black;
  border-radius: 15px;
  margin-bottom: 5px;
}

.contenedor_listado_direcciones_cliente {
  margin-top: 0px;
  width: 100%;
}

.reducir_place {
  width: 0px;
}

/*Modals del perfil del cliente*/

.opciones_modal_perfil_cliente {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 10px;
}

.opciones_modal_perfil_cliente a i {
  color: white;
  margin-right: 5px;
}

.opciones_modal_perfil_cliente a {
  color: white;
  display: flex;
  align-items: center;
  border-radius: 15px !important;
}

/*----------------------------------------------*/
/*------------Perfil - Repartidor---------------*/
/*----------------------------------------------*/

.comprobacion_legales_repartidor {
  font-size: 100pt;
}

.ampliador_perfil_repartidor {
  width: 100% !important;
  margin: 0px !important;
}

.contenedor_fotos_legales {
  width: 100%;
}

.ampliador_perfil_repartidor .col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*----------------------------------------------*/
/*------------Paquetes pendientes---------------*/
/*----------------------------------------------*/

.main_paquetes_pendientes {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulos_paquetes_pendientes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.listado_paquetes_pendientes {
  width: 100%;
}

.contenedor_datos_paquetes_pendiente {
  display: flex;
  align-items: center;
}

.contenedor_datos_paquetes_pendiente p {
  margin-left: 7px;
}

.nombre_pendiente {
  width: 33.33%;
}

.contacto_pendiente {
  width: 25%;
}

.producto_pendiente {
  width: 8.33%;
}

.total_pendiente {
  width: 16.66%;
}

.entregar_pendiente {
  width: 16.66%;
}

.card_paquete_pendiente {
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin: 0px 0px 5px 0px !important;
}

.card_paquete_pendiente i {
  color: #659fff;
  font-size: 28pt;
}

.completar_entrega_pendiente {
  background-color: #659fff !important;
}

.completar_entrega_pendiente i {
  color: white;
  font-size: 18pt;
}

.contenedor-paquetes {
  width: 100%;
}

.contenedor_modal_pendientes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.producto_sin_entregar_modal {
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
}

.foto_producto_modal_pendiente {
  width: 100%;
  border-radius: 15px;
}

.descripcion_info_producto_pendiente_modal .row {
  width: 100%;
  margin: 0px !important;
  height: 100%;
}

.contenedor_modal_pendientes .row .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100% !important;
}

.contenedor_modal_pendientes .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100% !important;
}

.titulo_producto_pendiente_modal {
  width: 100%;
  text-align: center;
}

.producto_sin_entregar_modal h6 {
  font-weight: 600;
}

a {
  color: white;
}

/*-----Responsive carrito de compras*/

@media (max-width: 1000px) {
  .contenedor_confirmacion {
    overflow-y: scroll;
  }

  .contenedor-general {
    height: 85%;
  }

  .contenedor-general_perfil {
    height: 75%;
    width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
    display: flex;
  }

  .boton_comprar_confirmar {
    width: 80%;
  }
}

/*Responsive para el perfil Vendedor y repartidor*/

@media (max-width: 1000px) {
  .contenedor_titulo_direccion {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .add_direccion_cliente {
    justify-content: center;
  }

  .opciones_modal_perfil_cliente {
    width: 100%;
    margin: 0px;
    margin-bottom: 10px;
  }

  .dato_usuario_cliente {
    padding-left: 5%;
  }
}

/*Responsive para la listas de paquetes pendientes - Repartidor*/

@media (max-width: 1000px) {
  .main_paquetes_pendientes {
    padding-left: 1%;
  }

  .contenedor-paquetes {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .titulos_paquetes_pendientes {
    flex-direction: column;
    width: 25%;
    height: 80%;
    margin-top: 10%;
  }

  .contacto_pendiente {
    margin-bottom: 10px;
  }

  .listado_paquetes_pendientes_nc {
    overflow-x: scroll;
    width: 80%;
    display: flex;
    flex-direction: row;
  }

  .card_paquete_pendiente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    margin-left: 5px !important;
  }

  .card_paquete_pendiente .col a {
    display: flex;
    justify-content: center;
  }

  .card_paquete_pendiente .col h6 {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .completar_entrega_pendiente {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10%;
  }

  .contacto_pendiente {
    margin-top: 20% !important;
  }

  .producto_pendiente {
    margin-top: 20% !important;
  }

  .titulos_paquetes_pendientes h6 {
    width: 100% !important;
    margin: 0px;
  }

  .contenedor_modal_pendientes .row {
    display: flex;
    flex-direction: column;
  }

  .descripcion_info_producto_pendiente_modal .row {
    display: flex;
    flex-direction: row;
  }

  .icon_o {
    width: 100%;
    height: auto;
  }
}

/*----------------------------------------------*/
/*-------------------contactenos---------------------*/
/*----------------------------------------------*/
.contactenos {
  background-color: #eef9ff;
  border: 1px solid black;
  margin-top: 5px;
  border-radius: 15px;
  height: 100%;
  width: 100%;
}

.titulo_contactenos {
  font-size: 14pt;
}

.comentarios {
  height: 100%;
}

.main_contactenos {
  padding-left: 10% !important;
  padding-right: 10% !important;
}

.descripcion_contactenos {
  padding-right: 5% !important;
  padding-left: 5% !important;
  height: 100%;
  display: flex;
  justify-content: center;
}

.descripcion_contactenos .row h5 {
  width: 100%;
  text-align: center;
}

/*----------------------------------------------*/
/*-------------------Quienes somos---------------------*/
/*----------------------------------------------*/
.quienes_somos2 {
  margin-top: 5px;
  border-radius: 15px;
  height: 200px;
  width: 100%;
}

.quienes_somos {
  border: 1px solid black;
  margin-top: 5px;
  border-radius: 15px;
  height: 200px;
  width: 100%;
}

.titulo_quienes_somos {
  font-size: 14pt;
}

.descripcion_quienes_somos {
  padding-right: 5% !important;
  padding-left: 5% !important;
  height: 100%;
}

/*----------------------------------------------*/
/*-------------------vision_mision---------------------*/
/*----------------------------------------------*/
.contenedor_mision {
  width: 100%;
}

.foto_mision {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo_vision {
  font-size: 14pt;
}

/*----------------------------------------------*/
/*-------------------terminos---------------------*/
/*----------------------------------------------*/
.descripcion_terminos {
  padding-right: 5% !important;
  padding-left: 5% !important;
  height: 100%;
}

.terminos {
  border: 1px solid black;
  margin-top: 5px;
  border-radius: 15px;
  height: 100%;
  width: 100%;
}

.main_terminos {
  padding-left: 10% !important;
  padding-right: 10% !important;
}

.titulo_terminos {
  font-size: 14pt;
}

/*----------------------------------------------*/
/*-------------------registrar_repartidor---------------------*/
/*----------------------------------------------*/
.main_registrar {
  overflow-y: scroll;
}

.main_registrar h5 {
  text-align: center;
}

.contenedor_registrar {
  width: 100%;
}

.boton_foto_registrar {
  background-color: #659fff;
  color: white;
  border-radius: 15px;
}

.foto_registrar {
  font-size: 150pt;
}

.foto_repartidor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor_fotos_reparto {
  width: 100%;
}

.dato_usuario_repatidor {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15%;
}

.dato_usuario_repatidor p {
  padding-left: 7px;
}

.dato_usuario_cliente {
  padding-left: 5%;
}

/*----------------------------------------------*/
/*-------------------registrar_vendedor---------------------*/
/*----------------------------------------------*/
.main_vendedor {
  overflow-y: scroll;
}

.main_vendedor h5 {
  text-align: center;
}

.contenedor_vendedor {
  width: 100%;
}

.boton_foto_vendedor {
  background-color: #659fff;
  color: white;
  border-radius: 15px;
}

.foto_vendedor {
  font-size: 150pt;
}

.foto_vendedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor_fotos_vendedor {
  width: 100%;
}

.dato_usuario_vendedor {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15%;
}

.dato_usuario_vendedor p {
  padding-left: 7px;
}

.dato_usuario_cliente {
  padding-left: 5%;
}

.foto_de_vendedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*----------------------------------------------*/
/*-------------------registrar_admin---------------------*/
/*----------------------------------------------*/
.main_admin {
  overflow-y: scroll;
}

.main_admin h5 {
  text-align: center;
}

.contenedor_admin {
  width: 100%;
}

.boton_foto_admin {
  background-color: #659fff;
  color: white;
  border-radius: 15px;
}

.foto_admin {
  font-size: 150pt;
}

.contenedor_fotos_admin {
  width: 100%;
}

.dato_usuario_admin {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15%;
}

.foto_de_admin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*----------------------------------------------*/
/*-------------------Comentarios---------------------*/
/*----------------------------------------------*/

.Comentarios {
  background-color: #eef9ff;
  border: 1px solid black;
  margin-top: 5px;
  border-radius: 15px;
  height: 100%;
  width: 100%;
}

.titulo_contactenos {
  font-size: 14pt;
}

.contenedor_borde {
  height: 100%;
}

.descripcion_comentarios {
  padding-right: 5% !important;
  padding-left: 5% !important;
  height: 100%;
  display: flex;
  justify-content: left;
}

.descripcion_comentarios .row h5 {
  width: 100%;
  text-align: left;
}

.borde {
  border-bottom: 1px solid black;
}

/*----------------------------------------------*/
/*-------------------admin_inicio---------------------*/
/*----------------------------------------------*/
.admin_incio {
  background-color: #eef9ff;
  border: 1px solid black;
  margin-top: 5px;
  border-radius: 15px;
  height: 100%;
  width: 100%;
}

.descripcion_admin_inicio {
  padding-right: 5% !important;
  padding-left: 5% !important;
  height: 100%;
  display: flex;
  justify-content: center;
}

.descripcion_admin_inicio .row h5 {
  width: 100%;
  text-align: center;
}

.contenedor_borde_admin_incio {
  height: 100%;
}

/*----------------------------------------------*/
/*-------------------Modal general---------------------*/
/*----------------------------------------------*/
.modal {
  border: 1px solid white;
  border-radius: 20px;
}

/*titulo y botones general*/
.titulo_pega {
  z-index: 1;
  background-color: white;
  padding-top: 30px;
  ;
}

.contenido_apar_marca {

  padding-top: 25px;
  z-index: 0;
}

/*----------------------------------------------*/
/*-------------------Boton general agregar---------------------*/
/*----------------------------------------------*/
.fixed-action-btn {
  position: fixed;
  display: inline-block;
  bottom: 140px;
  z-index: 0;

}

/*----------------------------------------------*/
/*-------------------Modo oscuro---------------------*/
/*----------------------------------------------*/
.sidenav_oscuro .sidenav {
  background-color: black;
  color: white;
}

.modo_oscuro {
  background-color: gray;
  color: white;
}

.footer_oscuro .page-footer {
  background-color: black !important;
  color: white;
}



/*----------------------------------------------*/
/*-------------------Responsive---------------------*/
/*----------------------------------------------*/

/*Responsive para el sidebar*/

@media (max-width: 1000px) {
  .contenedor-datos {
    position: absolute;
    padding-bottom: 25%;
  }

  /*.sidenav {
    position: absolute !important;
  }*/

  .contenedor-datos_perfil {
    padding: 0px !important;
    display: flex;
    flex-direction: column;
    width: 100% !important;
    position: absolute;
    height: 998px;
  }

  .encabezado img {
    height: 50%;
    margin-left: 10px;
  }

  .encabezado {
    justify-content: flex-start;
    width: 100%;
  }

  .encabezado .boton_iniciar_sesion {
    width: auto;
    margin-left: 10px;
    font-size: 16pt;
    height: 30px;
    display: flex;
    align-items: center;
  }
}

/*Responsive para el footer*/
@media (max-width: 1000px) {
  .page-footer {
    height: auto;
    margin: 0px !important;
    padding: 0px;
    width: 100% !important;
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0 !important;
  }

  .page-footer .row {
    height: auto;
    display: flex;
    flex-direction: row;
  }

  .redes_footer ul {
    flex-direction: column;
    height: 70% !important;
  }

  .redes_footer ul li i {
    font-size: 30pt;
    justify-content: space-between;
  }

  .footer_otros {
    display: flex;
    flex-direction: column-reverse;
    width: 100% !important;
    justify-content: center;
    position: relative;
    border: seagreen 1px solid;
    padding-left: 0;
  }

  .footer_otros h4 {
    font-size: 20pt;
  }

  .footer_otros h6 {
    font-size: 14pt;
  }

  .logo_copy_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 100% !important;
    align-items: center;
  }

  .logo_copy_footer img {
    width: 70%;
  }

  .redes_footer {
    margin-right: -10%;
  }

  .footer_otros .mapa-footer ul {
    margin: 0px;
    height: 80%;
  }

  .mapa-footer {
    justify-content: flex-start;
    width: 50% !important;
    margin-left: 30% !important;
  }

  .mapa-footer ul li h5 {
    font-size: 14pt;
  }
}

/*responsive main*/
@media (max-width: 1000px) {
  .administrar_cate_o {
    margin-left: 0px;
    margin-right: 0px;
  }

  .contenedor_dess .administrar_cate_o table {
    width: 700px;
  }

  .contenedor_dess {
    padding-left: 0px;
    padding-right: 0px;
  }

  .main_estadistica_admin {
    padding: 0px !important;
    margin: 0px !important;
    overflow-y: scroll;
    height: 760px !important;
  }

  .contenedor_producto_estadistica_vendedor .row {
    width: 100% !important;
  }
}

@media (max-width: 1000px) {
  .inicio-no-login {
    height: 80%;
    position: relative;
  }

  .contenedor-datos-nologin {
    position: absolute;
    width: 100%;
  }

  .metodo-pago {
    height: 100%;
  }

  .contenedor-general-metodo {
    height: 100%;
    width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
    display: flex;
  }
}


/*------------------ Responsive para el main---------------*/

@media (max-width: 992px) {
  main{
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
  
}


/*-----------------Responsive de tabla -------------------*/
@media (max-width:612px) {
  table {
    width: 100%;
  }

  table tr {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 11px;
    padding: 1em;
    margin-bottom: 1em;
  }

  table thead {
    display: none;
  }

  /*Colocamos columnas*/
  table td[data-target] {
    display: flex;
  }

  table td[data-target]::before {
    content: attr(data-target);
    width: 150px;
  }

  /*Tamaño*/
  td,
  th {
    width: 100%;
    word-wrap: break-word;
  }

  /*Card aparte*/
  #card-login {
    width: 100%;
    margin-left: 0 !important;
  }

  .titulo_index {
    width: 50% !important;
  }

}

/*Responsive tablets*/

@media (max-width:1050.98px) and (min-width:699.98px) {

  .contenedor-datos_perfil {
    padding: 0px !important;
    display: flex;
    flex-direction: column;
    width: 100% !important;
    position: absolute;
    height: 1098px;
  }

  #card-login {
    width: 100%;
    margin-left: 170px !important;
  }

  .titulo_index {
    width: 80% !important;
  }

  .botones_accion {
    display: none;
  }
}

@media (max-width:900.98px) and (min-width:600px) {

  #card-login {
    width: 100%;
    margin-left: 115px !important;
  }

  .titulo_index {
    width: 50% !important;
  }

}

@media (max-width:1197px) and (min-width:1055px) {

  #card-login {
    width: 100%;
    margin-left: 160px !important;
  }

  .titulo_index {
    width: 50% !important;
  }

}

/**/
@media (max-width:430px) and (min-width:415px) {

  #card-login {
    width: 100%;
    margin-left: 50px !important;
    z-index: 0;
  }

  .titulo_index {
    width: 50% !important;
    z-index: 0;
  }

  .body_index {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    height: 100%;
    width: 100% !important;
    position: absolute !important;
    z-index: 1;
  }
}

@media (width:640px) {
  .botones_accion {
    display: none;
  }


}