header,
main,
footer {
    padding-left: 6%;
}

@media only screen and (max-width: 992px) {

    header,
    main,
    footer {
        padding-left: 0 !important;
    }

    .sidenav {
        width: 50% !important;
        align-items: flex-start !important;
    }

    .sidenav li a i {
        font-size: 5rem !important;
        padding-right: 50px !important;
    }

    .sidenav li button i {
        font-size: 5rem !important;
        margin: 0 5px 0 0;
    }

    .sidenav li a span {
        font-size: 16pt !important;
    }

    .sidenav li button span {
        font-size: 16pt !important;
        font-weight: 500 !important;
    }

    .sidenav li {
        width: 100% !important;
        padding: 10px 0px 10px 0px !important;
    }

    .sidenav li a {
        padding-left: 10px !important;
    }

    .sidenav li button {
        padding-left: 10px !important;
    }
}

.sidenav {
    width: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

.sidenav li {
    padding: 2px 0px 2px 0px;
}

.sidenav li a i {
    font-size: 3.5rem;
}

.sidenav li button i {
    font-size: 3rem;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/*-------------------Navbar---------------------*/

nav {
    box-shadow: none !important;
}

nav div ul li a i {
    font-size: 48px !important;
}

.logout {
    border: transparent;
}

.logout:hover {
    cursor: pointer;
}

/*-----------------Footer--------------*/

.opciones-sidenav {
    height: 90%;
}

.cerrar-sidenav {
    height: 10%;
}


/**Producto individual y categoria**/
.imagen-categoria {
    width: 150px;
    height: 95px;
    border-radius: 15px;

    object-fit: cover;
}

.detalle-producto-individual {
    background-color: #faf7f7;
    border-radius: 15px;

    width: 200px;
    height: auto;
}

/*----------------------------------------------*/
/*-------------Carrito - clientes---------------*/
/*----------------------------------------------*/

.contador_cantidad_carrito input {
    width: 30% !important;
    border: 1px solid black !important;
    border-radius: 15px;
    background-color: #ececec !important;
    height: 35px !important;
    margin-right: 4px !important;
    margin-left: 4px !important;
    text-align: center;
}

#mapa {
    height: 350px;
    width: 450px;
}

#mapa_ {
    height: 350px;
    width: 550px;
}

/*Para favo*/
label:hover {
    color: orange;
}

input[type="radio"]:checked+label {
    color: orange;
}

input[type="checkbox"]:checked~label{
    color: orange;
}

.modo_activo label {
    color: orange;
}

.modo_no_activo label {
    color: orange;
}

#contenedor_productos label {
    font-size: 50px;
}


label {
    font-size: 50px;
}