/* Clases generales del diseño*/

/*Clases para quitar border y padding*/

main {
  flex: 1 0 auto;
  height: 75%;
  padding-top: 80px;
  padding-left: 100px;
}

body{
  display: flex;
  justify-content: center;
  width: 100% !important;
}

/*Contenedores*/
.contenedor-general {
  position: relative;
  height: 75%;
  width: 100% !important;
  padding-bottom: 200px !important;
  margin: 0px !important;
  display: flex;
  
}

.contenedor-datos {
  padding: 0px !important;
  display: flex;
  flex-direction: column;
  margin: 0px !important;
  width: 100% !important;
}

.encabezado a i {
  color: #3f79ff !important;
}

/*----------------------------------------------*/
/*-----------------Sidebar-------------------*/
/*----------------------------------------------*/

#slide-out li i {
  color: white;
  font-size: 50px;
  margin: 0px !important;
  display: flex;
  justify-content: center;
}

#slide-out li {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin: 0px !important;
  width: 100% !important;
  display: flex;
  justify-content: center;
}

.sidenav {
 /* width: 100px !important;
  background-color: #659fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative !important;
  height: 100% !important;
  margin-right: 0px !important;
  box-shadow: none !important;*/
  background-color: #659fff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  min-height: 100vh;
  max-height: 100vh;
  width: 100px;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

}

/*----------------------------------------------*/
/*-----------------Encabezado-------------------*/
/*----------------------------------------------*/

.encabezado {
  /*height: 80px;
  width: 100% !important;
  margin: 0px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;*/
  height: 80px;
  width: 100% !important;
  margin: 0px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 120px;
  padding-right: 10px;
  position: fixed;
  z-index: 2;
}

.encabezado img {
  height: 70%;
}

.boton_iniciar_sesion {
  background-color: white;
  border: 1px solid black;
  border-radius: 15px !important;
  color: black;
  width: 150px;
}

/*----------------------------------------------*/
/*-------------------Footer---------------------*/
/*----------------------------------------------*/

.page-footer {
  /*background-color: #3f79ff !important;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  height: 25%;
  width: 100% !important;
  margin: 0px !important;
  position: relative;*/
  background-color: #3f79ff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 195px;
  width: 100%;  
}

.page-footer .row {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

.redes_footer ul {
  display: flex;
  justify-content: space-between;
  height: 20%;
  margin: 0px;
  padding-left: 38%;
  padding-right: 38%;
  position: relative;
  margin-left: -5%;
}

.footer_otros {
  /*height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: fixed;*/
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  /**/
  padding-left: 146px;
}

.footer_otros img {
  width: 300px;
}
.mapa-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 20%;
  margin-left: 20% !important;
}

.mapa-footer ul {
  height: 100%;
  margin: 0px;
}

.logo_copy_footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 20%;
}

.redes_footer {
  position: fixed;
  z-index: 1;

  margin-left: 100px !important;
}

.redes_footer ul li a i {
  color: white;
  font-size: 35pt;
}

/*----------------------------------------------*/
/*-------------------Main my products---------------------*/
/*----------------------------------------------*/

#boton_agregar_producto {
  background-color: #699af6;
  margin-right: 90px;
  border-radius: 15px;
}

.card {
  margin-left: 100px;
  margin-right: 100px;
  background-color: #faf7f7;
  color: black;
}

#imagen_producto_vende {
  max-width: 100%;
  height: auto;
}

#boton_edita_pro {
  margin-top: 11px;
  background-color: white;
  color: black;
  border-radius: 15px;
  width: 170px;
}

#boton_elimi_pro {
  margin-top: 11px;
  background-color: white;
  color: black;
  border-radius: 15px;
  width: 170px;
}

.contorno {
  border: #8dc5ff 3px solid;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.boton_cancelar_modi {
  color: white;
  background-color: #699af6;
  border-radius: 15px;
}

.imagen_prod_o {
  width: 100%;
  height: auto;
}

.boton_agregar_modi {
  color: white;
  background-color: #699af6;
  border-radius: 15px;
}

.imagen_cancelar_produ {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boton_aceptar_produ {
  color: white;
  background-color: #699af6;
  border-radius: 15px;
}

/*----------------------------------------------*/
/*-------------------Main add_product---------------------*/
/*----------------------------------------------*/

.contenedor_agre {
  margin-right: 100px;
  margin-left: 100px;
}

.botonagregar_imaprodu {
  background-color: #699af6;
  color: white;
  border-radius: 15px;
}

.nombre_field {
  border-radius: 15px 15px 15px 15px;
  border: 1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.descripcion {
  max-height: 80px;
}

.nomb_vendedor {
  margin-top: 40px;
}

.nomb_marca {
  margin-top: 40px;
}

/*----------------------------------------------*/
/*-------------Carrito - clientes---------------*/
/*----------------------------------------------*/

.producto_carrito {
  border: 1px solid black;
  margin-top: 5px;
  border-radius: 15px;
  height: 200px;
  width: 100%;
}

.main_carrito .center-align {
  margin-left: 3%;
  margin-right: 3%;
}

.producto_carrito .row .col img {
  height: 150px;
  border-radius: 15px;
}

.contador_cantidad_carrito {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contador_cantidad_carrito input {
  width: 30% !important;
  border: 1px solid black !important;
  border-radius: 15px;
  background-color: #ececec !important;
  height: 35px !important;
  margin-right: 4px !important;
  margin-left: 4px !important;
  text-align: center;
}

.contador_cantidad_carrito input:focus {
  border: 1px solid black !important;
  box-shadow: none !important;
}

.titulo_producto_carrito {
  font-size: 14pt;
}

.descripcion_producto_carrito {
  padding-right: 5% !important;
  padding-left: 5% !important;
  height: 100%;
}

.descripcion_producto_carrito .row {
  margin-bottom: -150px !important;
}

.total_carrito {
  height: 180px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 3% !important;
}

main .center-align .row:not(main .center-align .n_l) {
  height: 100%;
}

main .center-align {
  height: 90%;
}

.listado_productos {
  overflow-y: scroll !important;
  height: 99% !important;
  width: 80%;
  margin-bottom: 2%;
}

.contenedor_mostrar_total_carrito {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cp_total_carrito {
  background-color: #8dc5ff;
  height: 70% !important;
  border-radius: 15px;
  width: 90% !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 10%;
}

.cp_total_carrito div h6 {
  color: white;
  font-weight: 700;
  font-size: 14pt;
}

.cp_total_carrito div p {
  color: white;
  font-size: 12pt;
}

.siguiente_carrito {
  margin-top: 50px;
  width: 80% !important;
  height: 50px;
  background-color: #8dc5ff;
  color: white;
  border-radius: 15px;
  border: none !important;
  padding: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.siguiente_carrito:hover {
  background-color: #66affd;
}

.siguiente_carrito:focus {
  background-color: #66affd;
}

/*----------------------------------------------*/
/*-------------Confirmación compra--------------*/
/*----------------------------------------------*/
.contenedor_datos_confirmacion {
  background-color: #659fff;
  border-radius: 15px;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  padding-bottom: 5%;
}
.contenedor_confirmacion {
  width: 100%;
  height: 100%;
}
.direccion_confirmar input {
  position: relative !important;
  background-color: #f2f2f2 !important;
  color: black !important;
  width: 85% !important;
  padding-left: 5px !important;
}
.direccion_confirmar .caret {
  background-color: #8dc5ff !important;
  height: 100% !important;
  width: 15% !important;
  position: absolute;
}

.dato_confirmacion h6 {
  font-weight: 600;
  height: 20px;
}
.dato_confirmacion p {
  height: 20px;
  margin-top: 5%;
}
.dato_confirmacion {
  display: flex;
  align-items: center;
}
.metodo_pago_confirmar {
  width: 40%;
}
.datos_pago_confirmar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.datos_pago_confirmar .row {
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
}
.boton_comprar_confirmar {
  width: 15%;
  border-radius: 15px;
  background-color: #659fff;
}
.Total_pagar_confirmar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.Total_pagar_confirmar p {
  font-weight: 400;
  margin-left: 7px;
}
[type="radio"]:not(:checked) + span:before,
[type="radio"]:not(:checked) + span:before {
  border: 0.5px solid black;
  background-color: #d2e8ff;
}
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: #659fff;
  border: 0.5px solid black;
}
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 0.5px solid #659fff;
}
.main_confirmar {
  height: 100% !important;

  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin-bottom: 50%;
  width: 100%;
  overflow-y: scroll;
}
.encabezado_confirmar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 3%;
  margin-bottom: 1%;
  align-items: center;
}
.encabezado_confirmar h5 {
  width: 90%;
  text-align: center;
}

.direccion_confirmar {
  z-index: 0;
}

/*----------------------------------------------*/
/*--------------Perfil - Cliente----------------*/
/*----------------------------------------------*/

.main_perfil_cliente {
  overflow-y: scroll;
}

.main_perfil_cliente h5 {
  text-align: center;
}

.contenedor_perfil_cliente {
  width: 100%;
}

.foto_cliente {
  font-size: 150pt;
}

.boton_cambiar_foto_cliente {
  background-color: #659fff;
  color: white;
  border-radius: 15px;
}

.foto_direccion_cliente {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor_titulo_direccion {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 3%;
  margin-bottom: 0px;
}

.add_direccion_cliente {
  display: flex;
  color: white;
  background-color: #659fff;
  border-radius: 15px;
}

.direccion_cliente p {
  width: 85%;
  margin: 0px;
}

.direccion_cliente div {
  width: 15%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.editar_perfil_cliente {
  color: #00ab10;
  font-size: 25pt;
}

.eliminar_perfil_cliente {
  color: #ff3f42;
  font-size: 25pt;
}

.contenedor_boton_modificar_datos_cliente {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.contenedor_boton_modificar_datos_cliente a {
  border-radius: 15px;
}

.datos_usuario_perfil_cliente {
  display: flex;
  flex-direction: column;
}

/*Datos del cliente*/

.datos_perfil_cliente {
  padding-left: 5%;
  padding-right: 5%;
}

.datos_usuario_perfil_cliente h6 {
  text-align: center;
}

.dato_usuario_cliente {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15%;
}

.dato_usuario_cliente p {
  padding-left: 7px;
}

/*Listado de direcciones del cliente en perfil*/

.direccion_cliente {
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
  padding-top: 0%;
  display: flex;
  border: 1px solid black;
  border-radius: 15px;
  margin-bottom: 5px;
}

.contenedor_listado_direcciones_cliente {
  margin-top: 0px;
  width: 100%;
}

.reducir_place {
  width: 0px;
}

/*Modals del perfil del cliente*/

.opciones_modal_perfil_cliente {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 10px;
}

.opciones_modal_perfil_cliente a i {
  color: white;
  margin-right: 5px;
}

.opciones_modal_perfil_cliente a {
  color: white;
  display: flex;
  align-items: center;
  border-radius: 15px !important;
}

/*----------------------------------------------*/
/*------------Perfil - Repartidor---------------*/
/*----------------------------------------------*/

.comprobacion_legales_repartidor {
  font-size: 100pt;
}

.ampliador_perfil_repartidor {
  width: 100% !important;
  margin: 0px !important;
}

.contenedor_fotos_legales {
  width: 100%;
}

.ampliador_perfil_repartidor .col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*----------------------------------------------*/
/*------------Paquetes pendientes---------------*/
/*----------------------------------------------*/

.main_paquetes_pendientes {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulos_paquetes_pendientes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.listado_paquetes_pendientes {
  width: 100%;
}

.contenedor_datos_paquetes_pendiente {
  display: flex;
  align-items: center;
}

.contenedor_datos_paquetes_pendiente p {
  margin-left: 7px;
}

.nombre_pendiente {
  width: 33.33%;
}

.contacto_pendiente {
  width: 25%;
}

.producto_pendiente {
  width: 8.33%;
}

.total_pendiente {
  width: 16.66%;
}

.entregar_pendiente {
  width: 16.66%;
}

.card_paquete_pendiente {
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin: 0px 0px 5px 0px !important;
}

.card_paquete_pendiente i {
  color: #659fff;
  font-size: 28pt;
}

.completar_entrega_pendiente {
  background-color: #659fff !important;
}

.completar_entrega_pendiente i {
  color: white;
  font-size: 18pt;
}

.contenedor-paquetes {
  width: 100%;
}

.contenedor_modal_pendientes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.producto_sin_entregar_modal {
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
}

.foto_producto_modal_pendiente {
  width: 100%;
  border-radius: 15px;
}

.descripcion_info_producto_pendiente_modal .row {
  width: 100%;
  margin: 0px !important;
  height: 100%;
}

.contenedor_modal_pendientes .row .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100% !important;
}

.contenedor_modal_pendientes .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100% !important;
}

.titulo_producto_pendiente_modal {
  width: 100%;
  text-align: center;
}

.producto_sin_entregar_modal h6 {
  font-weight: 600;
}

/*----------------------------------------------*/
/*----------Estadistica - Vendedor------------*/
/*----------------------------------------------*/

.main_estadistica_vendedor {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  height: 80%;
  overflow-y: scroll;
}

.main_estadistica_vendedor h5 {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  margin: 0px !important;
}

.main_estadistica_vendedor .row {
  width: 100%;
  height: 100%;
}

.main_estadistica_vendedor .row .col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
}

.ventas_estadistica_vendedor {
  background-color: #8dc5ff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 50%;
}

.titulos_valoracion_estadistica_vendedor {
  width: 100%;
  display: flex;
}

.nombre_estadistica_vendedor {
  width: 33.5%;
  text-align: center;
}

.cantidad_estadistica_vendedor {
  width: 25%;
  text-align: center;
}

.precio_estadistica_vendedor {
  width: 16%;
  text-align: center;
}

.valoracion_estadistica_vendedor {
  width: 25%;
  text-align: center;
}

.contenedor_producto_estadistica_vendedor {
  width: 100%;
  height: 100%;
}

.contenedor_producto_estadistica_vendedor .row {
  width: 100%;
  margin: 0px !important;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  align-items: center;
  background-color: #8dc5ff;
  margin-top: 5px !important;
  height: 100%;
}

.valoracion {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*Valoraciones en estrellas*/
.estrellas_contenedor {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-origin: 1px solid black;
  height: auto;
  direction: rtl;
  unicode-bidi: bidi-override;
  justify-content: center;
}

.estrellas_contenedor_producto {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-origin: 1px solid black;
  height: auto;
  direction: rtl;
  unicode-bidi: bidi-override;
  justify-content: center;
}

label:hover ~ label > .estrella {
  color: rgb(255, 238, 0);
}

input[type="radio"]:checked ~ label > .estrella {
  color: rgb(255, 213, 0);
}

.grafica_pastel_vendedor {
  width: 100%;
}

.grafica_pastel_vendedor img {
  width: 50%;
}

/*----------------------------------------------*/
/*-----------Estadística - admin----------------*/
/*----------------------------------------------*/

.nombre_estadistica_admin {
  width: 41.65%;
  text-align: center;
}

.promedio_estadistica_admin {
  width: 33.32%;
  text-align: center;
}

.venta_estadistica_admin {
  width: 25%;
  text-align: center;
}

/**/
.cliente_estadistica_admin {
  width: 33.32%;
  text-align: center;
}

.correo_estadistica_admin {
  width: 25%;
  text-align: center;
}

.factura_estadistica_admin {
  width: 18.66%;
  text-align: center;
}

.promedio_cliente_estadistica_admin {
  width: 25%;
  text-align: center;
}

.contenedor_cliente_estadistica_vendedor .row {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #8dc5ff;
  border-radius: 15px;
  border: 1px solid black;
  margin-bottom: 5px;
  height: auto !important;
}

.contenedor_cliente_estadistica_vendedor {
  width: 100%;
  padding-left: 20px;
  padding-right: 10px;
}

.main_estadistica_admin .row .col .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main_estadistica_admin h5 {
  margin-bottom: 3%;
}

.main_estadistica_admin {
  padding: 0px !important;
  margin: 0px !important;
  overflow-y: scroll;
}

.ventas_estadistica_admin {
  background-color: #8dc5ff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 4% !important;
  margin-left: 4% !important;
}

.contenedor_cliente_estadistica_admin .row {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #8dc5ff;
  border-radius: 15px;
  border: 1px solid black;
  margin-bottom: 5px;
  height: auto !important;
}

.contenedor_cliente_estadistica_admin {
  width: 100%;
  padding-left: 20px;
  padding-right: 10px;
}

/*----------------------------------------------*/
/*-------------------contactenos---------------------*/
/*----------------------------------------------*/
.contactenos {
  background-color: #eef9ff;
  border: 1px solid black;
  margin-top: 5px;
  border-radius: 15px;
  height: 100%;
  width: 100%;
}
.titulo_contactenos {
  font-size: 14pt;
}
.contenedor_borde {
  height: 100%;
}
.main_contactenos {
  padding-left: 10% !important;
  padding-right: 10% !important;
}

.descripcion_contactenos {
  padding-right: 5% !important;
  padding-left: 5% !important;
  height: 100%;
  display: flex;
  justify-content: center;
}
.descripcion_contactenos .row h5 {
  width: 100%;
  text-align: center;
}

/*----------------------------------------------*/
/*-------------------Quienes somos---------------------*/
/*----------------------------------------------*/
.quienes_somos2 {
  margin-top: 5px;
  border-radius: 15px;
  height: 200px;
  width: 100%;
}
.quienes_somos {
  border: 1px solid black;
  margin-top: 5px;
  border-radius: 15px;
  height: 200px;
  width: 100%;
}
.titulo_quienes_somos {
  font-size: 14pt;
}

.descripcion_quienes_somos {
  padding-right: 5% !important;
  padding-left: 5% !important;
  height: 100%;
}

.mision {
  background-color: white;
  color: black;
  border-radius: 15px;
}

.vision {
  background-color: white;
  color: black;
  border-radius: 15px;
}
/*----------------------------------------------*/
/*-------------------vision_mision---------------------*/
/*----------------------------------------------*/
.contenedor_mision {
  width: 100%;
}

.foto_mision {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titulo_vision {
  font-size: 14pt;
}

/*----------------------------------------------*/
/*-------------------terminos---------------------*/
/*----------------------------------------------*/
.descripcion_terminos {
  padding-right: 5% !important;
  padding-left: 5% !important;
  height: 100%;
}

.terminos {
  border: 1px solid black;
  margin-top: 5px;
  border-radius: 15px;
  height: 100%;
  width: 100%;
}
.main_terminos {
  padding-left: 10% !important;
  padding-right: 10% !important;
}
.titulo_terminos {
  font-size: 14pt;
}

/*----------------------------------------------*/
/*-------------------registrar_repartidor---------------------*/
/*----------------------------------------------*/
.main_registrar {
  overflow-y: scroll;
}

.main_registrar h5 {
  text-align: center;
}
.contenedor_registrar {
  width: 100%;
}
.boton_foto_registrar {
  background-color: #659fff;
  color: white;
  border-radius: 15px;
}
.foto_registrar {
  font-size: 150pt;
}

.foto_repartidor {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor_fotos_reparto {
  width: 100%;
}

.dato_usuario_repatidor {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15%;
}

.dato_usuario_repatidor p {
  padding-left: 7px;
}

.dato_usuario_cliente {
  padding-left: 5%;
}
/*----------------------------------------------*/
/*-------------------registrar_vendedor---------------------*/
/*----------------------------------------------*/

.contenedor_vendedor {
  width: 100%;
}

.boton_foto_vendedor {
  background-color: #659fff;
  color: white;
  border-radius: 15px;
}
.foto_vendedor {
  font-size: 150pt;
}

.foto_vendedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor_fotos_vendedor {
  width: 100%;
}

.dato_usuario_vendedor {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15%;
}

.dato_usuario_vendedor p {
  padding-left: 7px;
}

.dato_usuario_cliente {
  padding-left: 5%;
}
.foto_de_vendedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

#mapa {
  height: 350px;
  width: 450px;
  z-index: 0;
}

.logout{
  background: transparent;
  border: transparent;
}

.logout:hover{
  cursor: pointer;
}
.mapa_oscuro .leaflet-routing-alternatives-container {
  color: black;
}

/*Responsive tablet*/
@media (max-width:1050.98px) and (min-width:699.98px) {
  #mapa {
    height: 300px;
    width: 300px;
    z-index: 0;
  }
}

/*response telefono*/
@media (max-width:698.97px) and (min-width:100.20px) {
  #mapa {
    height: 200px;
    width: 450px;
    z-index: 0;
  }
}

/*----------------------------------------------*/
/*-------------------registrar_admin---------------------*/
/*----------------------------------------------*/
.main_admin {
  overflow-y: scroll;
}

.main_admin h5 {
  text-align: center;
}
.contenedor_admin {
  width: 100%;
}

.boton_foto_admin {
  background-color: #659fff;
  color: white;
  border-radius: 15px;
}
.foto_admin {
  font-size: 150pt;
}

.contenedor_fotos_admin {
  width: 100%;
}

.dato_usuario_admin {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15%;
}

.foto_de_admin {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*----------------------------------------------*/
/*-------------------Comentarios---------------------*/
/*----------------------------------------------*/

.Comentarios {
  background-color: #eef9ff;
  border: 1px solid black;
  margin-top: 5px;
  border-radius: 15px;
  height: auto;
  width: 100%;
}
.titulo_contactenos {
  font-size: 14pt;
}
.contenedor_borde {
  height: 100%;
}

.descripcion_comentarios {
  padding-right: 5% !important;
  padding-left: 5% !important;
  height: 100%;
  display: flex;
  justify-content: left;
}
.descripcion_comentarios .row h5 {
  width: 100%;
  text-align: left;
}
.borde {
  border-bottom: 1px solid black;
}

a {
  color: white;
}

/*----------------------------------------------*/
/*-------------------admin_inicio---------------------*/
/*----------------------------------------------*/
.admin_incio {
  background-color: #eef9ff;
  border: 1px solid black;
  margin-top: 5px;
  border-radius: 15px;
  height: 100%;
  width: 100%;
}
.descripcion_admin_inicio {
  padding-right: 5% !important;
  padding-left: 5% !important;
  height: 100%;
  display: flex;
  justify-content: center;
}
.descripcion_admin_inicio .row h5 {
  width: 100%;
  text-align: center;
}

.contenedor_borde_admin_incio {
  height: 100%;
}

/*---------------------------------------------------*/
/*-------------------categoria-----------------*/
/*---------------------------------------------------*/

.texto-bool-verdad {
  color: #255e11;
}

.texto-bool-falso {
  color: #5e1123;
}

.perfil-img {
  background-color: #b2edff;
  border-radius: 200px;
}

.img-simulada {
  background-color: #d4effe;
  width: 131px;
  height: 95px;
}

tbody tr {
  background-color: #faf7f7;
  border-radius: 15px;
}

.wrapper {
  max-height: 150px;
  display: flex;

  overflow-x: scroll;
}

.imagen-categoria {
  width: 150px;
  height: 95px;
  border-radius: 15px;

  object-fit: cover;
}

.detalle-producto-individual {
  background-color: #faf7f7;
  border-radius: 15px;

  width: 200px;
  height: auto;
}

.boton-perfil {
  margin-bottom: 40px;
}

.abajo-alineado {
  bottom: 27%;
  right: 2%;
}

.wrap2 {
  width: 150px;
  height: 100px;
  overflow-y: auto;
}

/*----------------------------------------------*/
/*-------------------Registrar---------------------*/
/*----------------------------------------------*/
.contactenos {
  background-color: #eef9ff;
  border: 1px solid black;
  margin-top: 5px;
  border-radius: 15px;
  height: 100%;
  width: 100%;
}
.titulo_contactenos {
  font-size: 14pt;
}
.contenedor_borde {
  height: 100%;
}
.main_contactenos {
  padding-left: 10% !important;
  padding-right: 10% !important;
}
.descripcion_contactenos {
  padding-right: 5% !important;
  padding-left: 5% !important;
  height: 100%;
  display: flex;
  justify-content: center;
}
.descripcion_contactenos .row h5 {
  width: 100%;
  text-align: center;
}

.main_admin {
  overflow-y: scroll;
  height: 80%;
}

.main_admin h5 {
  text-align: center;
}
.contenedor_admin {
  width: 100%;
}

.boton_foto_admin {
  background-color: #659fff;
  color: white;
  border-radius: 15px;
}
.foto_admin {
  font-size: 150pt;
}

.contenedor_fotos_admin {
  width: 100%;
}

.dato_usuario_admin {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15%;
}

.foto_de_admin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*----------------------------------------------*/
/*-------------------Perfil vendedor---------------------*/
/*----------------------------------------------*/

.contenedor_vendedor {
  width: 100%;
}

.boton_foto_vendedor {
  background-color: #659fff;
  color: white;
  border-radius: 15px;
}
.foto_vendedor {
  font-size: 150pt;
}

.foto_vendedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor_fotos_vendedor {
  width: 100%;
}

.dato_usuario_vendedor {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0%;
}

.dato_usuario_vendedor p {
  padding-left: 7px;
}

.dato_usuario_cliente {
  padding-left: 5%;
}
.foto_de_vendedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ampliador_perfil_vendedor .col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ampliador_perfil_vendedor .col i {
  font-size: 150px;
}

.contenedor_datos_repartidor {
  width: 100%;
}

.datos_usuario_perfil_cliente {
  display: flex;
  flex-direction: column;
}

.datos_usuario_perfil_cliente h6 {
  text-align: center;
}

/*----------------------------------------------*/
/*-----------------Metodo de pago-------------------*/
/*----------------------------------------------*/
#titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.metodo-pago {
  overflow-y: scroll;
  height: 80%;
}

.contenedor-datos-metodo {
  padding: 0px !important;
  flex-direction: column;
  width: 100% !important;
  height: 75%;
  margin: 0px !important;
  display: flex;
}

.contenedor-general-metodo {
  height: 75%;
  width: 100% !important;
  padding: 0px !important;
  margin: 0px !important;
  display: flex;
}

.tabla-tarjetas {
  justify-content: center;
}

#contorno {
  border: #8dc5ff 1px solid;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#boton_descartar {
  background: #9a1635;
  color: white;
  border-radius: 15px;
}

#boton_guardar {
  background: #699af6;
  color: white;
  border-radius: 15px;
}

.main_favo {
  flex: 1 0 auto;
  height: 85%;
  margin-bottom: 50%;
}

.a_a a {
  color: black;
}

.imagen_product {
  margin-bottom: 8%;
}


/*----------------------------------------------*/
/*-------------------Responsive---------------------*/
/*----------------------------------------------*/

/*Responsive para el sidebar*/

@media (max-width: 1000px) {
  .contenedor-datos {
    position: absolute;
    padding-bottom: 25%;
  }

  .sidenav {
    position: absolute !important;
  }

  .encabezado img {
    height: 50%;
    margin-left: 10px;
  }

  .encabezado {
    justify-content: flex-start;
    width: 100%;
  }

  .encabezado .boton_iniciar_sesion {
    width: auto;
    margin-left: 10px;
    font-size: 16pt;
    height: 30px;
    display: flex;
    align-items: center;
  }

  .Comentarios {
    height: 85%;
    margin-bottom: 85%;
  }

  .pedido_detalle {
    z-index: 0;
    margin-bottom: 98%;
  }
}

/*Responsive para el footer*/
@media (max-width: 992px) {
  .page-footer {
    height: auto;
    margin: 0px !important;
    padding: 0px;
    width: 100% !important;
    position: fixed;
    bottom: 0 !important;
  }
  .page-footer .row {
    height: auto;
    display: flex;
    flex-direction: row;
  }

  .redes_footer ul {
    flex-direction: column;
    height: 70% !important;
  }

  .redes_footer ul li i {
    font-size: 30pt;
    justify-content: space-between;
  }

  .footer_otros {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    justify-content: flex-start;
    position: relative;
  }

  .footer_otros h4 {
    font-size: 20pt;
  }

  .footer_otros h6 {
    font-size: 14pt;
  }

  .logo_copy_footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    width: 70% !important;
  }

  .logo_copy_footer img {
    width: 70%;
  }

  .redes_footer {
    margin-right: -10%;
  }

  .footer_otros .mapa-footer ul {
    margin: 0px;
    height: 80%;
  }

  .mapa-footer {
    justify-content: flex-start;
    width: 50% !important;
    margin-left: 30% !important;
  }

  .mapa-footer ul li h5 {
    font-size: 14pt;
  }
}

/*-----Responsive carrito de compras*/

@media (max-width: 1000px) {
  .contenedor-datos {
    position: relative;
    width: 100% !important;
    margin: 0px !important;
  }

  .producto_carrito {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }

  .total_carrito {
    margin-top: 20px;
    height: 50px !important;
    width: 100%;
  }

  .descripcion_producto_carrito {
    height: 30%;
    display: flex;
    flex-direction: column;
  }

  .producto_carrito .row {
    height: auto !important;
  }

  .descripcion_producto_carrito .row {
    margin-bottom: 0px !important;
  }

  .main_carrito .center-align .contenedor_carrito {
    display: flex;
    flex-direction: column-reverse;
  }

  .cp_total_carrito {
    flex-direction: row;
    height: auto !important;
    padding-top: 5%;
  }

  .listado_productos {
    margin-top: -80px;
  }

  .siguiente_carrito {
    margin-top: 10px;
  }

  .main_confirmar {
    overflow: hidden;
  }

  .valign-wrapper {
    margin-bottom: 5%;
  }

  .p_e {
    z-index: 0;
  }
}

/*-----Responsive carrito de compras*/

@media (max-width: 1000px) {
  .contenedor_confirmacion {
    overflow-y: scroll;
    margin-bottom: 40%;
  }

  .contenedor-general {
    height: 85%;
  }

  .boton_comprar_confirmar {
    width: 80%;
  }

  .total_carrito {
    height: 20% !important;
  }
}

/*Responsive para el perfil Vendedor y repartidor*/

@media (max-width: 1000px) {
  .contenedor_titulo_direccion {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .add_direccion_cliente {
    justify-content: center;
  }

  .opciones_modal_perfil_cliente {
    width: 100%;
    margin: 0px;
    margin-bottom: 10px;
  }

  .dato_usuario_cliente {
    padding-left: 5%;
  }
}

/*----------------------------------------------*/
/*-------------------Login y recuperar contra---------------------*/
/*----------------------------------------------*/
#r-login {
  width: 330px;
  height: 300px;
  padding-left: 229%;
}

.n_l{
  margin-bottom: 5px !important;
}

.n_l p{
 text-align: left;
} 
#texto-card-login {
  text-align: center;
  padding-bottom: 10px;
}

#texto-card-login a{
  color: #3111F4;
}

#texto-card-login p {
  margin-top: 0px !important;
}

.card-login{
  background-color: #e3f2fd ;
  margin: 0px !important;
}

#texto-card-login-2 {
  line-height: 0px;
}

#titulo-login {
  font-size: 20px;
  justify-content: center;
  direction: flex;

}

.titulo-login{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

#card-recu {
  width: 330px;
  height: 460px;
  background: #e6e6e6;
  padding-top: 1px;
}

#card-recu2 {
  width: 330px;
  height: 310px;
  background: #e6e6e6;
  padding-top: 1px;
}

#boton_ingresar {
  width: 150px;
  height: 35px;

  background: #659fff;
  border-radius: 15px;
  z-index: 0;
}

.contenedor-login{
  margin: 0px ;
  width: 40%;
  margin-bottom: 40px;
}

.inicio-no-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  padding: 0px ;
  width: 100%;
}

.contenedor-datos-nologin {
  padding: 0px !important;
  display: flex;
  flex-direction: column;
  width: 100% !important;
}

/*----------------------------------------------*/
/*-------------------Registrar---------------------*/
/*----------------------------------------------*/
.contactenos {
  background-color: #eef9ff;
  border: 1px solid black;
  margin-top: 5px;
  border-radius: 15px;
  height: 100%;
  width: 100%;
}
.titulo_contactenos {
  font-size: 14pt;
}
.contenedor_borde {
  height: 100%;
}
.main_contactenos {
  padding-left: 10% !important;
  padding-right: 10% !important;
}
.descripcion_contactenos {
  padding-right: 5% !important;
  padding-left: 5% !important;
  height: 100%;
  display: flex;
  justify-content: center;
}
.descripcion_contactenos .row h5 {
  width: 100%;
  text-align: center;
}

.main_admin {
  overflow-y: scroll;
  height: 80%;
}

.main_admin h5 {
  text-align: center;
}
.contenedor_admin {
  width: 100%;
}

.boton_foto_admin {
  background-color: #659fff;
  color: white;
  border-radius: 15px;
}
.foto_admin {
  font-size: 150pt;
}

.contenedor_fotos_admin {
  width: 100%;
}

.dato_usuario_admin {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15%;
}

.foto_de_admin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*----------------------------------------------*/
/*-------------------Perfil vendedor---------------------*/
/*----------------------------------------------*/

.centrar_boton_mis_productos{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_vendedor h5 {
  text-align: center;
}
.contenedor_vendedor {
  width: 100%;
}

.boton_foto_vendedor {
  background-color: #659fff;
  color: white;
  border-radius: 15px;
}
.foto_vendedor {
  font-size: 150pt;
}

.foto_vendedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor_fotos_vendedor {
  width: 100%;
}

.dato_usuario_vendedor {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0%;
}

.dato_usuario_vendedor p {
  padding-left: 7px;
}

.dato_usuario_cliente {
  padding-left: 5%;
}
.foto_de_vendedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ampliador_perfil_vendedor .col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ampliador_perfil_vendedor .col i {
  font-size: 150px;
}

.contenedor_datos_repartidor {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.datos_usuario_perfil_cliente {
  display: flex;
  flex-direction: column;
}

.datos_usuario_perfil_cliente h6 {
  text-align: center;
}

/*----------------------------------------------*/
/*-----------------Metodo de pago-------------------*/
/*----------------------------------------------*/
#titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.metodo-pago {
  overflow-y: scroll;
  height: 80%;
}

.contenedor-datos-metodo {
  padding: 0px !important;
  flex-direction: column;
  width: 100% !important;
  height: 75%;
  margin: 0px !important;
  display: flex;
}

.contenedor-general-metodo {
  height: 75%;
  width: 100% !important;
  padding: 0px !important;
  margin: 0px !important;
  display: flex;
}

.tabla-tarjetas {
  justify-content: center;
}

#contorno {
  border: #8dc5ff 1px solid;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#boton_descartar {
  background: #9a1635;
  color: white;
  border-radius: 15px;
}

#boton_guardar {
  background: #699af6;
  color: white;
  border-radius: 15px;
}

/*----------------------------------------------*/
/*-------------------Modal general---------------------*/
/*----------------------------------------------*/
.modal {
  border: 1px solid white;
  border-radius: 20px;
}

@media (max-width: 1000px) {
  .inicio-no-login {
    height: 80%;
    position: relative;
    margin-top: 120px !important;
  }

  .contenedor-login{
    width: 90%;
  }

  .contenedor-datos-nologin {
    position: relative;
    width: 100%;
  }

  .metodo-pago {
    height: 100%;
  }

  .contenedor-general-metodo {
    height: 100%;
    width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
    display: flex;
  }
}

/*Responsive para la listas de paquetes pendientes - Repartidor*/

@media (max-width: 1000px) {
  .main_paquetes_pendientes {
    padding-left: 1%;
  }

  .contenedor-paquetes {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .titulos_paquetes_pendientes {
    flex-direction: column;
    width: 25%;
    height: 80%;
    margin-top: 10%;
  }

  .contacto_pendiente {
    margin-bottom: 10px;
  }

  .listado_paquetes_pendientes_nc {
    overflow-x: scroll;
    width: 80%;
    display: flex;
    flex-direction: row;
  }

  .card_paquete_pendiente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    margin-left: 5px !important;
  }

  .card_paquete_pendiente .col a {
    display: flex;
    justify-content: center;
  }

  .card_paquete_pendiente .col h6 {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .completar_entrega_pendiente {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10%;
  }

  .contacto_pendiente {
    margin-top: 20% !important;
  }

  .producto_pendiente {
    margin-top: 20% !important;
  }

  .titulos_paquetes_pendientes h6 {
    width: 100% !important;
    margin: 0px;
  }

  .contenedor_modal_pendientes .row {
    display: flex;
    flex-direction: column;
  }

  .descripcion_info_producto_pendiente_modal .row {
    display: flex;
    flex-direction: row;
  }

  #r-login {
    width: 330px;
    height: 300px;
    padding-left: 0;
  }
}

/*Responsive estadistica*/
@media (max-width: 1000px) {
  .ventas_estadistica_vendedor {
    width: 80%;
  }

  .main_estadistica_vendedor .row .center-align {
    margin-top: 20px;
  }

  .main_estadistica_admin {
    padding: 0px !important;
    margin: 0px !important;
    overflow-y: scroll;
    height: 100% !important;
    padding-bottom: 5%;
    margin-bottom: 10%;
  }

  .estadistica {
    height: 84%;
  }
}

/*Responsive para cambio de moviles*/

@media (max-width: 996px) {
  .encabezado{
    padding: 10px !important;
  }
  
  main{
    width: 96% !important;
    margin: 2% !important;
    padding-top: 50px !important;
    padding: 10px !important;
  }

  .ventas_estadistica_admin{
    margin: 0px !important; 
  }
}

/*Responsive tablets*/

@media (max-width:1050.98px) and (min-width:699.98px) {

  .redes_footer ul{
    padding-top: 0px;
    margin-left:0px !important;

  }
  .redes_footer {
    position: fixed;
    z-index: 1;
    padding: 0 !important;
  }
  
  .redes_footer ul li a i {
    color: white;
    font-size: 35pt;
  }

 
 
}

@media (max-width:1679px){
  #r-login {
    width: 330px;
    height: 300px;
    padding-left: 120%;
  }
}

@media (max-width:1560px){
  #r-login {
    width: 330px;
    height: 300px;
    padding-left: 189%;
  }
}

@media (max-width:1013px){
  #r-login {
    width: 330px;
    height: 300px;
    padding-left: 48%;
  }
}

@media (max-width:719px){
  #r-login {
    width: 330px;
    height: 300px;
    padding-left: 1px;
  }
}

@media (max-width:724px){
  #r-login {
  
    padding-left: 0px;
  }
}

/*Responsive samsung galazy s20 ultra*/
@media (max-width:412px){
  #r-login {
    margin-right: 280px;
  }

  .inicio-no-login{
    position: fixed;
    margin-left: 14px;
  }
}
/*Responsive Iphone 12 pro*/
@media (max-width:390px){
  .inicio-no-login{
    position: fixed;
    margin-left: 1px;
  }
}

@media (max-width:924px){
  #r-login {
    width: 330px;
    height: 300px;
    padding-left: 1px;
  }
}


/**/
/*Responsive tablets*/

@media (max-width:600px){

  main {
    margin-left: 45px;
  }
  
  #r-login {
    width: 330px;
    height: 300px;
    padding-left: 5%;
    position: fixed;
  }
}


