<!DOCTYPE html>
<!--Lenguaje de la página-->
<html lang="es">
<html>

<head>
    <!--Importar iconos-->
    <link href="../../css/icons.css" rel="stylesheet">
    <!--Importar archivos CSS-->
    <link type="text/css" rel="stylesheet" href="../../css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../../css/public.css" media="screen,projection" />

    <!--Optimización para mobiles-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>


    <!--Marco general-->
    <div class="row contenedor-general">
        <!--Sidebar, opciones para los usuarios-->

        <ul id="slide-out" class="sidenav sidenav-fixed">
            <li><a href="" class="tooltipped" data-position="right" data-tooltip="Hogar"><i
                        class="material-icons medium">home</i></a></li>
            <li><a href="perfil.html" class="tooltipped" data-position="right" data-tooltip="Perfil"><i
                        class="material-icons medium">account_circle</i></a></li>
            <li><a href="" class="tooltipped" data-position="right" data-tooltip="Historial"><i
                        class="material-icons medium">description</i></a></li>
            <li><a href="paquetes_pendientes.html" class="tooltipped" data-position="right"
                    data-tooltip="Paquetes pendientes"><i class="material-icons medium">message</i></a></li>
            <li><a href="" class="tooltipped" data-position="right" data-tooltip="Cerrar sesión"><i
                        class="material-icons medium">arrow_back</i></a></li>
        </ul>

        <!--Contenedor de datos-->
        <div class="contenedor-datos">
            <!--Encabezado-->
            <header class="encabezado">
                <a href="#" data-target="slide-out"
                    class="sidenav-trigger show-on-medium-and-down hide-on-large-only"><i
                        class="material-icons">menu</i></a>
                <img src="../../resources/logo_delivery_system.png" alt="">
                <a class="waves-effect waves-light btn boton_iniciar_sesion">Log In</a>
            </header>
            <!--Información de la página vendedor-->
            <main class="main_vendedor">
                <div class="row contenedor_vendedor ">
                    <div class="col l5 m5 s12 foto_de_vendedor ">
                        <i class="material-icons foto_vendedor ">account_circle</i>
                        <form action="#">
                            <div class="file-field input-field">
                                <div class="btn boton_foto_vendedor">
                                    <span>Agregar foto</span>
                                    <input type="file">
                                </div>
                                <div class="file-path-wrapper reducir_place">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                        </form>
                        <div class="contenedor_fotos_vendedor ">
                            <div class="row ampliador_perfil_repartidor">
                                <div class="col l6 m6 s6">
                                    <h6>antecendente penal</h6>
                                    <form action="#">
                                        <div class="file-field input-field">
                                            <div class="btn boton_foto_vendedor">
                                                <span>Agregar imagen</span>
                                                <input type="file">
                                            </div>
                                            <div class="file-path-wrapper reducir_place">
                                                <input class="file-path validate" type="text">
                                            </div>
                                        </div>
                                    </form>
                                    <i class="material-icons comprobacion_legales_repartidor">image</i>
                                </div>
                                <div class="col l6 m6 s6">
                                    <h6>Solvencia PNC</h6>
                                    <form action="#">
                                        <div class="file-field input-field">
                                            <div class="btn boton_foto_vendedor">
                                                <span>Agregar imagen</span>
                                                <input type="file">
                                            </div>
                                            <div class="file-path-wrapper reducir_place">
                                                <input class="file-path validate" type="text">
                                            </div>
                                        </div>
                                    </form>
                                    <i class="material-icons comprobacion_legales_repartidor">image</i>
                                </div>
                                <div class="col l6 m6 s6">
                                    <form action="#">
                                        <div class="file-field input-field">
                                            <div>
                                                <input type="file">
                                            </div>
                                            <div class="file-path-wrapper reducir_place">
                                                <input class="file-path validate" type="text">
                                            </div>
                                        </div>
                                    </form>

                                </div>
                                <div class="col l6 m6 s6">

                                    <form action="#">
                                        <div class="file-field input-field">
                                            <div>
                                                <input type="file">
                                            </div>
                                            <div class="file-path-wrapper reducir_place">
                                                <input class="file-path validate" type="text">
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col l7 m7 s12 datos_usuario_perfil_cliente">
                        <h6>Datos del vendedor</h6>
                        <div class="datos_perfil_cliente">
                            <div class="input-field col s6">
                                <input placeholder="Nombre" id="name" type="text" class="validate">
                                <label for="first_name">Nombre</label>
                            </div>
                            <div class="input-field col s6">
                                <input placeholder="Apellido" id="lastname" type="text" class="validate">
                                <label for="first_name">Apellido</label>
                            </div>
                            <div class="input-field col s6">
                                <input placeholder="Número de DUI" id="dui" type="text" class="validate">
                                <label for="first_name">DUI</label>
                            </div>
                            <div class="input-field col s6">
                                <input placeholder="Correo" id="email" type="email" class="validate">
                                <label for="first_name">Correo</label>
                            </div>
                            <div class="input-field col s6">
                                <input placeholder="Dirección del domicilio" id="Dirección_domicilio" type="text" class="validate">
                                <label for="first_name">Dirección del domicilio</label>
                            </div>
                            <div class="input-field col s6">
                                <input placeholder="Dirección del vendedor" id="Dirección_vendedor" type="text" class="validate">
                                <label for="first_name">Dirección del vendedor</label>
                            </div>
                            <div class="input-field col s6">
                                <input placeholder="fecha registro" id="fecha_registro" type="date" class="validate">
                                <label for="first_name">fecha registro</label>
                            </div>
                            <div class="input-field col s6">
                                <input placeholder="coordenadas del vendedor" id="coordenadas_vendedor" type="text" class="validate">
                                <label for="first_name">coordenadas del vendedor</label>
                            </div>
                            <div class="input-field col s6">
                                <input placeholder="Telefono" id="Telefono" type="text" class="validate">
                                <label for="first_name">Telefono</label>
                            </div>
                        </div>

                        <h6>Datos del vendedor</h6>
                        <div class="contenedor_datos_repartidor">
                            <div class="dato_usuario_vendedor">
                                <div class="input-field col s6">
                                    <input placeholder="Nombre del usuario vendedor" id="vendedor" type="text" class="validate">
                                    <label for="first_name">Nombre del usuario vendedor:</label>
                                </div>
                                <div class="input-field col s6">
                                    <input placeholder="********" id="Contraseña" type="text" class="validate">
                                    <label for="first_name">Contraseña</label>
                                </div>
                            </div>
                            <div class="dato_usuario_vendedor">

                            </div>
                            <div class="contenedor_boton_modificar_datos_cliente">
                                <a href="#datos-cuenta" class="btn green modal-trigger"><i
                                        class="material-icons">edit</i> Guardar</a>
                            </div>

                        </div>

                    </div>
                </div>
            </main>
        </div>
    </div>

    <!--Footer-->
    <footer class="page-footer">
        <div class="row">

            <!--enlace de redes sociales-->
            <div class="col l12 m6 s3 redes_footer center-align">
                <ul>
                    <li>
                        <a href=""><i class="material-icons medium">facebook</i></a>
                    </li>
                    <li>
                        <a href=""><i class="material-icons medium">local_see</i></a>
                    </li>
                    <li>
                        <a href=""><i class="material-icons medium">whatsapp</i></a>
                    </li>
                    <li>
                        <a href=""><i class="material-icons medium">email</i></a>
                    </li>
                </ul>
            </div>

            <!--Contenedor para el mapa y el copyright-->
            <div class="footer_otros">
                <div class="col l6 m9 s12 logo_copy_footer">
                    <img src="../../resources/logo_delivery_system.png" alt="">icons8_Check_Circle_500px
                    <h6>© 2022 DeliverySystem</h6>
                </div>
                <div class="col l6 m9 s12 mapa-footer">
                    <ul>
                        <li>
                            <h5>Información pública</h5>
                        </li>
                        <li>Quiénes somos</li>
                        <li>Contáctanos</li>
                        <li>Misión y visión</li>
                        <li>Términos y condiciones</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <!--ventana de guardado -->

    <div id="datos-cuenta" class="modal">
        <div class="modal-content center-align">
            <h4>Guardado Exitoso</h4>
            <div class="row">
                <div class="input-field col l12 m6 s12">
                    <img src="../../resources/public/repartidor/icons8_Check_Circle_350px.png" alt="">
                </div>
            </div>
        </div>
    </div>
    </div>

    <!--Importar archivos JavaScrip-->
    <script type="text/javascript" src="../../js/materialize.min.js"></script>
    <script type="text/javascript" src="../../controllers/activation.js"></script>
</body>

</html>