<!DOCTYPE html>
<!--Lenguaje de la página-->
<html lang="es">
<html>

<head>
    <!--Importar iconos-->
    <link href="../../../css/icons.css" rel="stylesheet">
    <!--Importar archivos CSS-->
    <link type="text/css" rel="stylesheet" href="../../../css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../../../css/public.css" media="screen,projection" />

    <!--Optimización para mobiles-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>


    <!--Marco general-->
    <div class="row contenedor-general">
        <!--Sidebar, opciones para los usuarios-->

        <ul id="slide-out" class="sidenav sidenav-fixed">
            <li><a href="" class="tooltipped" data-position="right" data-tooltip="Hogar"><i
                        class="material-icons medium">home</i></a></li>
            <li><a href="" class="tooltipped" data-position="right" data-tooltip="Perfil"><i
                        class="material-icons medium">account_circle</i></a></li>
            <li><a href="" class="tooltipped" data-position="right" data-tooltip="Compras"><i
                        class="material-icons medium">shopping_basket</i></a></li>
            <li><a href="" class="tooltipped" data-position="right" data-tooltip="Categoria"><i
                        class="material-icons medium">format_list_bulleted</i></a></li>
            <li><a href="" class="tooltipped" data-position="right" data-tooltip="Cerrar sesión"><i
                        class="material-icons medium">arrow_back</i></a></li>
        </ul>





        <!--Contenedor de datos-->
        <div class="contenedor-datos">
            <!--Encabezado-->
            <header class="encabezado">
                <a href="#" data-target="slide-out"
                    class="sidenav-trigger show-on-medium-and-down hide-on-large-only"><i
                        class="material-icons">menu</i></a>
                <img src="../../../resources/logo_delivery_system.png" alt="">
                <a class="waves-effect waves-light btn boton_iniciar_sesion">Log In</a>
            </header>
            <!--Información de la página-->
            <main class="main_estadistica_vendedor">
                <!--Titulo de la página-->
                <h5>Estadística</h5>
                <!--Contenedor general de los datos-->
                <div class="row">
                    <!--Datos de ventas y tablas-->
                    <div class="col l6 m6 s12">
                        <div class="ventas_estadistica_vendedor">
                            <h6>Ventas semanales</h6>
                            <p>$345.89</p>
                        </div>
                        <div class="titulos_valoracion_estadistica_vendedor">
                            <h6 class="nombre_estadistica_vendedor">Nombre del producto</h6>
                            <h6 class="cantidad_estadistica_vendedor">Cantidad restante</h6>
                            <h6 class="precio_estadistica_vendedor">Precio</h6>
                            <h6 class="valoracion_estadistica_vendedor">Valoracion</h6>
                        </div>
                        <div class="contenedor_producto_estadistica_vendedor">
                            <div class="row">
                                <div class="col l4">
                                    <p>Nombre del producto</p>
                                </div>

                                <div class="col l3">
                                    <p>5000</p>
                                </div>
                                <div class="col l2">
                                    <p>$67.99</p>
                                </div>
                                <div class="col l3">
                                    <div class="valoracion">
                                        <!--Valoración-->
                                        <form action="#" class="estrellas_contenedor">
                                            <input id="star1" name="group1" type="radio" value="5" />
                                            <label for="star1"><i class="material-icons estrella">star</i></label>
                                            <input id="star2" name="group1" type="radio" value="4" />
                                            <label for="star2"><i class="material-icons estrella">star</i></label>
                                            <input id="star3" name="group1" type="radio" value="3" />
                                            <label for="star3"><i class="material-icons estrella">star</i></label>
                                            <input id="star4" name="group1" type="radio" value="2" />
                                            <label for="star4"><i class="material-icons estrella">star</i></label>
                                            <input id="star5" name="group1" type="radio" value="1" />
                                            <label for="star5"><i class="material-icons estrella">star</i></label>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col l4">
                                    <p>Nombre del producto</p>
                                </div>

                                <div class="col l3">
                                    <p>5000</p>
                                </div>
                                <div class="col l2">
                                    <p>$67.99</p>
                                </div>
                                <div class="col l3">
                                    <div class="valoracion">
                                        <!--Valoración-->
                                        <form action="#" class="estrellas_contenedor">
                                            <input id="star1" name="group1" type="radio" value="5" />
                                            <label for="star1"><i class="material-icons estrella">star</i></label>
                                            <input id="star2" name="group1" type="radio" value="4" />
                                            <label for="star2"><i class="material-icons estrella">star</i></label>
                                            <input id="star3" name="group1" type="radio" value="3" />
                                            <label for="star3"><i class="material-icons estrella">star</i></label>
                                            <input id="star4" name="group1" type="radio" value="2" />
                                            <label for="star4"><i class="material-icons estrella">star</i></label>
                                            <input id="star5" name="group1" type="radio" value="1" />
                                            <label for="star5"><i class="material-icons estrella">star</i></label>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col l4">
                                    <p>Nombre del producto</p>
                                </div>

                                <div class="col l3">
                                    <p>5000</p>
                                </div>
                                <div class="col l2">
                                    <p>$67.99</p>
                                </div>
                                <div class="col l3">
                                    <div class="valoracion">
                                        <!--Valoración-->
                                        <form action="#" class="estrellas_contenedor">
                                            <input id="star1" name="group1" type="radio" value="5" />
                                            <label for="star1"><i class="material-icons estrella">star</i></label>
                                            <input id="star2" name="group1" type="radio" value="4" />
                                            <label for="star2"><i class="material-icons estrella">star</i></label>
                                            <input id="star3" name="group1" type="radio" value="3" />
                                            <label for="star3"><i class="material-icons estrella">star</i></label>
                                            <input id="star4" name="group1" type="radio" value="2" />
                                            <label for="star4"><i class="material-icons estrella">star</i></label>
                                            <input id="star5" name="group1" type="radio" value="1" />
                                            <label for="star5"><i class="material-icons estrella">star</i></label>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col l4">
                                    <p>Nombre del producto</p>
                                </div>

                                <div class="col l3">
                                    <p>5000</p>
                                </div>
                                <div class="col l2">
                                    <p>$67.99</p>
                                </div>
                                <div class="col l3">
                                    <div class="valoracion">
                                        <!--Valoración-->
                                        <form action="#" class="estrellas_contenedor">
                                            <input id="star1" name="group1" type="radio" value="5" />
                                            <label for="star1"><i class="material-icons estrella">star</i></label>
                                            <input id="star2" name="group1" type="radio" value="4" />
                                            <label for="star2"><i class="material-icons estrella">star</i></label>
                                            <input id="star3" name="group1" type="radio" value="3" />
                                            <label for="star3"><i class="material-icons estrella">star</i></label>
                                            <input id="star4" name="group1" type="radio" value="2" />
                                            <label for="star4"><i class="material-icons estrella">star</i></label>
                                            <input id="star5" name="group1" type="radio" value="1" />
                                            <label for="star5"><i class="material-icons estrella">star</i></label>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col l4">
                                    <p>Nombre del producto</p>
                                </div>

                                <div class="col l3">
                                    <p>5000</p>
                                </div>
                                <div class="col l2">
                                    <p>$67.99</p>
                                </div>
                                <div class="col l3">
                                    <div class="valoracion">
                                        <!--Valoración-->
                                        <form action="#" class="estrellas_contenedor">
                                            <input id="star1" name="group1" type="radio" value="5" />
                                            <label for="star1"><i class="material-icons estrella">star</i></label>
                                            <input id="star2" name="group1" type="radio" value="4" />
                                            <label for="star2"><i class="material-icons estrella">star</i></label>
                                            <input id="star3" name="group1" type="radio" value="3" />
                                            <label for="star3"><i class="material-icons estrella">star</i></label>
                                            <input id="star4" name="group1" type="radio" value="2" />
                                            <label for="star4"><i class="material-icons estrella">star</i></label>
                                            <input id="star5" name="group1" type="radio" value="1" />
                                            <label for="star5"><i class="material-icons estrella">star</i></label>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col l4">
                                    <p>Nombre del producto</p>
                                </div>

                                <div class="col l3">
                                    <p>5000</p>
                                </div>
                                <div class="col l2">
                                    <p>$67.99</p>
                                </div>
                                <div class="col l3">
                                    <div class="valoracion">
                                        <!--Valoración-->
                                        <form action="#" class="estrellas_contenedor">
                                            <input id="star1" name="group1" type="radio" value="5" />
                                            <label for="star1"><i class="material-icons estrella">star</i></label>
                                            <input id="star2" name="group1" type="radio" value="4" />
                                            <label for="star2"><i class="material-icons estrella">star</i></label>
                                            <input id="star3" name="group1" type="radio" value="3" />
                                            <label for="star3"><i class="material-icons estrella">star</i></label>
                                            <input id="star4" name="group1" type="radio" value="2" />
                                            <label for="star4"><i class="material-icons estrella">star</i></label>
                                            <input id="star5" name="group1" type="radio" value="1" />
                                            <label for="star5"><i class="material-icons estrella">star</i></label>
                                        </form>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <!--Estadisticas-->
                    <div class="col l6 m6 s12 center-align">
                        <div class="grafica_pastel_vendedor">
                            <h6>Categorias con más ventas</h6>
                            <img src="../../../resources/public/vendedor/estadistica/pastel.png" alt="">
                        </div>
                        <div class="grafica_pastel_vendedor">
                            <h6>Productos más vendidos</h6>
                            <img src="../../../resources/public/vendedor/estadistica/grafica.png" alt="">
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <!--Footer-->
    <footer class="page-footer">
        <div class="row">

            <!--enlace de redes sociales-->
            <div class="col l12 m6 s3 redes_footer center-align">
                <ul>
                    <li>
                        <a href=""><i class="material-icons medium">facebook</i></a>
                    </li>
                    <li>
                        <a href=""><i class="material-icons medium">local_see</i></a>
                    </li>
                    <li>
                        <a href=""><i class="material-icons medium">whatsapp</i></a>
                    </li>
                    <li>
                        <a href=""><i class="material-icons medium">email</i></a>
                    </li>
                </ul>
            </div>

            <!--Contenedor para el mapa y el copyright-->
            <div class="footer_otros">
                <div class="col l6 m9 s12 logo_copy_footer">
                    <img src="../../../resources/logo_delivery_system.png" alt="">
                    <h6>© 2022 DeliverySystem</h6>
                </div>
                <div class="col l6 m9 s12 mapa-footer">
                    <ul>
                        <li>
                            <h5>Información pública</h5>
                        </li>
                        <li>Quiénes somos</li>
                        <li>Contáctanos</li>
                        <li>Misión y visión</li>
                        <li>Términos y condiciones</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--Importar archivos JavaScrip-->
    <script type="text/javascript" src="../../../js/materialize.min.js"></script>
    <script type="text/javascript" src="../../../controllers/activation.js"></script>
</body>

</html>