<!DOCTYPE html>
<!--Lenguaje de la página-->
<html lang="es">
<html>

<head>
    <!--Importar iconos-->
    <link href="../../../css/icons.css" rel="stylesheet">
    <!--Importar archivos CSS-->
    <link type="text/css" rel="stylesheet" href="../../../css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../../../css/plantilla.css" media="screen,projection" />

    <!--Optimización para mobiles-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>


    <!--Marco general-->
    <div class="row contenedor-general">
        <!--Sidebar, opciones para los usuarios-->

        <ul id="slide-out" class="sidenav sidenav-fixed">
            <li><a href="" class="tooltipped" data-position="right" data-tooltip="Hogar"><i class="material-icons medium">home</i></a></li>
            <li><a href="" class="tooltipped" data-position="right" data-tooltip="Perfil"><i class="material-icons medium">account_circle</i></a></li>
            <li><a href="" class="tooltipped" data-position="right" data-tooltip="Compras"><i class="material-icons medium">shopping_basket</i></a></li>
            <li><a href="" class="tooltipped" data-position="right" data-tooltip="Categoria"><i class="material-icons medium">format_list_bulleted</i></a></li>
            <li><a href="" class="tooltipped" data-position="right" data-tooltip="Cerrar sesión"><i class="material-icons medium">arrow_back</i></a></li>
        </ul>
            




        <!--Contenedor de datos-->
        <div class="contenedor-datos">
            <!--Encabezado-->
            <header class="encabezado">
                <a href="#" data-target="slide-out" class="sidenav-trigger show-on-medium-and-down hide-on-large-only"><i class="material-icons">menu</i></a>
                <img src="../../../resources/logo_delivery_system.png" alt="">
                <a class="waves-effect waves-light btn boton_iniciar_sesion">Log In</a>
            </header>
            <!--Información de la página-->
            <main>
                <div class="row">
                    <div class="col s12 m12 l12 center-align">
                        <p class="flow-text">Pedidos anteriores</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m8 l8 offset-l2 offset-m2">
                        <table class="responsive-table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Total</th>
                                    <th>Entregado por</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                            </thead>
                    
                            <tbody>
                                <tr>
                                    <td><div class="img-simulada"></div></td>
                                    <td>$14.99</td>
                                    <td>Gerardo Hernández</td>
                                    <td class="texto-bool-verdad">Completado</td>
                                    <td><a class="waves-effect waves-light blue lighten-2 black-text btn-large col s12 l10" href="detalle_pedido_cliente.html"><i class="material-icons left black-text">folder_open</i>Ver más</a></td>
                                </tr>
                                <tr>
                                    <td><div class="img-simulada"></div></td>
                                    <td>$43.67</td>
                                    <td>Rodrigo Almendarez</td>
                                    <td class="texto-bool-falso">Cancelado</td>
                                    <td><a class="waves-effect waves-light blue lighten-2 black-text btn-large col s12 l10" href="detalle_pedido_cliente.html"><i class="material-icons left black-text">folder_open</i>Ver más</a></td>
                                </tr>
                                <tr>
                                    <td><div class="img-simulada"></div></td>
                                    <td>$87.49</td>
                                    <td>Oliver Castro</td>
                                    <td class="texto-bool-verdad">Completado</td>
                                    <td><a class="waves-effect waves-light blue lighten-2 black-text btn-large col s12 l10" href="detalle_pedido_cliente.html"><i class="material-icons left black-text">folder_open</i>Ver más</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <!--Footer-->
    <footer class="page-footer">
        <div class="row">

            <!--enlace de redes sociales-->
            <div class="col l12 m6 s3 redes_footer center-align">
                <ul>
                    <li>
                        <a href=""><i class="material-icons medium">facebook</i></a>
                    </li>
                    <li>
                        <a href=""><i class="material-icons medium">local_see</i></a>
                    </li>
                    <li>
                        <a href=""><i class="material-icons medium">whatsapp</i></a>
                    </li>
                    <li>
                        <a href=""><i class="material-icons medium">email</i></a>
                    </li>
                </ul>
            </div>

            <!--Contenedor para el mapa y el copyright-->
            <div class="footer_otros">
                <div class="col l6 m9 s12 logo_copy_footer">
                    <img src="../../../resources/logo_delivery_system.png" alt="">
                    <h6>© 2022 DeliverySystem</h6>
                </div>
                <div class="col l6 m9 s12 mapa-footer">
                    <ul>
                        <li>
                            <h5>Información pública</h5>
                        </li>
                        <li>Quiénes somos</li>
                        <li>Contáctanos</li>
                        <li>Misión y visión</li>
                        <li>Términos y condiciones</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--Importar archivos JavaScrip-->
    <script type="text/javascript" src="../../../js/materialize.min.js"></script>
    <script type="text/javascript" src="../../../controllers/activation.js"></script>
</body>

</html>