/* Clases generales del diseño*/


/*Clases para quitar border y padding*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    height: 100%;
    width: 100% !important;
    position: absolute;
    z-index: 1;
  }

  main {
    flex: 1 0 auto;
  }


  /*Contenedores*/
.contenedor-general{
    height: 75%;
    width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
    display: flex;
}


.contenedor-datos{
    padding: 0px !important;
    display: flex;
    flex-direction: column;
    width: 100% !important;
}



/*----------------------------------------------*/
/*-----------------Sidebar-------------------*/
/*----------------------------------------------*/

#slide-out li i{
    color: white;
    font-size: 50px;
    margin: 0px !important;
    display: flex;
    justify-content: center;
}

#slide-out li {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin: 0px !important;
    width: 100% !important;
    display: flex;
    justify-content: center;
}


.sidenav{
    width: 100px !important;
    background-color: #659FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative !important;
    height: 100% !important;
    margin-right: 0px !important;
    box-shadow: none !important;
}

/*----------------------------------------------*/
/*-----------------Encabezado-------------------*/
/*----------------------------------------------*/

.encabezado{
    height: 80px;
    width: 100% !important;
    margin: 0px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.encabezado img{
    height: 70%;
}


.boton_iniciar_sesion{
    background-color: white;
    border: 1px solid black;
    border-radius: 15px !important;
    color: black;
    width: 150px;
}


/*----------------------------------------------*/
/*-------------------Footer---------------------*/
/*----------------------------------------------*/


.page-footer{
    background-color: #3F79FF !important;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 25%;
    width: 100% !important;
    margin: 0px !important;
    position: relative;
}

.page-footer .row{
    padding: 0px;
    margin: 0px;
    height: 100%;
}



.redes_footer ul{
    display: flex;
    justify-content: space-between;
    height: 20%;
    margin:0px;
    padding-left: 38%;
    padding-right: 38%;
    position: relative;
    margin-left: -5%;
}

.footer_otros{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    
}

.footer_otros img{
    width: 300px;
}
.mapa-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 20%;
    margin-left: 20% !important;
}

.mapa-footer ul{
    height: 100%;
    margin:0px;
}

.logo_copy_footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 20%;
}

.redes_footer{
    position: fixed;
    z-index: 1;
}

.redes_footer ul li a i{
    color: white;
    font-size: 35pt;
}

    
/*----------------------------------------------*/
/*-------------------Responsive---------------------*/
/*----------------------------------------------*/



/*Responsive para el sidebar*/

@media (max-width: 1000px) {

    .contenedor-datos{
        position: fixed;
    }

    .sidenav{
        position: absolute !important;
    }

    .encabezado img{
        height:50%;
        margin-left: 10px;
    }

    .encabezado{
        justify-content: flex-start;
        width: 100%;
    }

    .encabezado .boton_iniciar_sesion{
        width: auto;
        margin-left: 10px;
        font-size: 16pt;
        height: 30px;
        display: flex;
        align-items: center;
    }

}


/*Responsive para el footer*/
@media (max-width: 1000px) {

    .page-footer{
        height: auto;
        margin: 0px !important;
        padding: 0px;
        width: 100% !important;
    }
    .page-footer .row{
        height: auto;
        display: flex;
        flex-direction: row;
    }

    .redes_footer ul{
        flex-direction: column;
        height: 70% !important;
    }
       
    .redes_footer ul li i{
        font-size: 30pt;
        justify-content: space-between;
    }

    .footer_otros{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: flex-start;
        position: relative;
    }

    .footer_otros h4{
        font-size: 20pt;
    }

    .footer_otros h6{
        font-size: 14pt;
    }

    .logo_copy_footer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: auto;
        width: 70% !important;
    }

    .logo_copy_footer img{
        width: 70%;
    }

    .redes_footer{
        margin-right: -10%;
    }

    .footer_otros .mapa-footer ul{
        margin: 0px;
        height: 80%;
    }

    .mapa-footer{
        justify-content: flex-start;
        width: 50% !important;
        margin-left: 30% !important;
    }

    .mapa-footer ul li h5{
        font-size: 14pt;
    }

}
